<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exx.dzj.mapper.menu.MenuInfoMapper">
  <resultMap id="BaseResultMap" type="com.exx.dzj.entity.menu.MenuBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="redirect" jdbcType="VARCHAR" property="redirect" />
    <result column="menu_type" jdbcType="INTEGER" property="menuType" />
    <result column="menu_type_name" jdbcType="VARCHAR" property="menuTypeName" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="perms_type" jdbcType="INTEGER" property="permsType" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="desk_iconid" jdbcType="VARCHAR" property="deskIconid" />
    <result column="always_show" jdbcType="INTEGER" property="alwaysShow" />
    <result column="is_leaf" jdbcType="INTEGER" property="isLeaf" />
    <result column="hidden" jdbcType="INTEGER" property="hidden" />
    <result column="menu_dict" jdbcType="VARCHAR" property="menuDict" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="menu_level" jdbcType="INTEGER" property="menuLevel" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, menu_code, parent_code, menu_name, menu_url, component, redirect, menu_type,
    CASE WHEN menu_type = 0 THEN '一级菜单' WHEN menu_type = 1 THEN '子菜单' WHEN menu_type = 2 THEN '按钮' ELSE '其他' END menu_type_name,
    perms, perms_type, icon, desk_iconid, always_show, is_leaf, hidden, menu_dict, seq, menu_level,
    is_enable
  </sql>

  <select id="selectByExample" parameterType="com.exx.dzj.entity.menu.MenuInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_menu_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tab_menu_info
    where menu_code = #{menuCode,jdbcType=VARCHAR}
  </select>

  <insert id="insertSelective" parameterType="com.exx.dzj.entity.menu.MenuInfo">
    insert into tab_menu_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuCode != null">
        menu_code,
      </if>
      <if test="parentCode != null">
        parent_code,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="component != null">
        component,
      </if>
      <if test="redirect != null">
        redirect,
      </if>
      <if test="menuType != null">
        menu_type,
      </if>
      <if test="perms != null">
        perms,
      </if>
      <if test="permsType != null">
        perms_type,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="deskIconid != null">
        desk_iconid,
      </if>
      <if test="alwaysShow != null">
        always_show,
      </if>
      <if test="isLeaf != null">
        is_leaf,
      </if>
      <if test="hidden != null">
        hidden,
      </if>
      <if test="menuDict != null">
        menu_dict,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="menuLevel != null">
        menu_level,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuCode != null">
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        #{component,jdbcType=VARCHAR},
      </if>
      <if test="redirect != null">
        #{redirect,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="perms != null">
        #{perms,jdbcType=VARCHAR},
      </if>
      <if test="permsType != null">
        #{permsType,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="deskIconid != null">
        #{deskIconid,jdbcType=VARCHAR},
      </if>
      <if test="alwaysShow != null">
        #{alwaysShow,jdbcType=INTEGER},
      </if>
      <if test="isLeaf != null">
        #{isLeaf,jdbcType=INTEGER},
      </if>
      <if test="hidden != null">
        #{hidden,jdbcType=INTEGER},
      </if>
      <if test="menuDict != null">
        #{menuDict,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="menuLevel != null">
        #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map">
    update tab_menu_info
    <set>
      <if test="record.parentCode != null">
        parent_code = #{record.parentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.menuName != null">
        menu_name = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuUrl != null">
        menu_url = #{record.menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.component != null">
        component = #{record.component,jdbcType=VARCHAR},
      </if>
      <if test="record.redirect != null">
        redirect = #{record.redirect,jdbcType=VARCHAR},
      </if>
      <if test="record.menuType != null">
        menu_type = #{record.menuType,jdbcType=INTEGER},
      </if>
      <if test="record.perms != null">
        perms = #{record.perms,jdbcType=VARCHAR},
      </if>
      <if test="record.permsType != null">
        perms_type = #{record.permsType,jdbcType=INTEGER},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.deskIconid != null">
        desk_iconid = #{record.deskIconid,jdbcType=VARCHAR},
      </if>
      <if test="record.alwaysShow != null">
        always_show = #{record.alwaysShow,jdbcType=INTEGER},
      </if>
      <if test="record.isLeaf != null">
        is_leaf = #{record.isLeaf,jdbcType=INTEGER},
      </if>
      <if test="record.hidden != null">
        hidden = #{record.hidden,jdbcType=INTEGER},
      </if>
      <if test="record.menuDict != null">
        menu_dict = #{record.menuDict,jdbcType=VARCHAR},
      </if>
      <if test="record.seq != null">
        seq = #{record.seq,jdbcType=INTEGER},
      </if>
      <if test="record.menuLevel != null">
        menu_level = #{record.menuLevel,jdbcType=INTEGER},
      </if>
      <if test="record.isEnable != null">
        is_enable = #{record.isEnable,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.exx.dzj.entity.menu.MenuInfo">
    update tab_menu_info
    <set>
      <if test="parentCode != null">
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        component = #{component,jdbcType=VARCHAR},
      </if>
      <if test="redirect != null">
        redirect = #{redirect,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        menu_type = #{menuType,jdbcType=INTEGER},
      </if>
      <if test="perms != null">
        perms = #{perms,jdbcType=VARCHAR},
      </if>
      <if test="permsType != null">
        perms_type = #{permsType,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="deskIconid != null">
        desk_iconid = #{deskIconid,jdbcType=VARCHAR},
      </if>
      <if test="alwaysShow != null">
        always_show = #{alwaysShow,jdbcType=INTEGER},
      </if>
      <if test="isLeaf != null">
        is_leaf = #{isLeaf,jdbcType=INTEGER},
      </if>
      <if test="hidden != null">
        hidden = #{hidden,jdbcType=INTEGER},
      </if>
      <if test="menuDict != null">
        menu_dict = #{menuDict,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="menuLevel != null">
        menu_level = #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
    </set>
    where menu_code = #{menuCode,jdbcType=VARCHAR}
  </update>

  <!-- 查询 子父级菜单是否交叉, 即 A 是 B 的父级，而 B 是 A 的父级 -->
  <select id="queryOverlap" parameterType="com.exx.dzj.entity.menu.MenuInfo" resultType="java.lang.Integer">
    SELECT count(*) FROM tab_menu_info WHERE 1 = 1
    AND menu_code = #{menuCode,jdbcType=VARCHAR}
    AND parent_code = #{parentCode,jdbcType=VARCHAR}
  </select>

  <!-- 获取最大的排序值 -->
  <select id="queryMaxSeq" resultType="java.lang.Integer">
    SELECT max(seq) FROM tab_menu_info
  </select>

  <!-- 删除 菜单-->
  <update id="cancelMenu" parameterType="com.exx.dzj.entity.menu.MenuInfo">
    UPDATE tab_menu_info
      SET is_enable = #{isEnable,jdbcType=INTEGER}
    WHERE menu_code = #{menuCode,jdbcType=VARCHAR}
  </update>
</mapper>