<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exx.dzj.mapper.androidhomepage.AndroidMapper">
    <select id="queryCustomerCount" resultType="int">
        SELECT COUNT(1) FROM tab_customer_supplier
        WHERE cust_type IN (1, 3)
        <if test="newly != null and newly != ''">
            AND create_time BETWEEN DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%s') AND DATE_FORMAT(CURDATE(),'%Y-%m-%d 23:59:59')
        </if>
        <if test="listParam != null">
            AND user_code IN
            <foreach collection="listParam" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="queryPersonageSaleVolume" resultType="com.exx.dzj.entity.market.SaleInfo">
        SELECT
          u.real_name,SUM(goods.goods_num * goods.real_sell_price) AS receivable_accoun
        FROM tab_sale_info s
        LEFT JOIN tab_user_info u ON s.user_code = u.user_code
        INNER JOIN tab_sale_goods_detail goods ON s.sale_code = goods.sale_code
        WHERE 1 = 1
        <if test="type == 'day'">
            AND (s.sale_date BETWEEN DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%s') AND DATE_FORMAT(CURDATE(),'%Y-%m-%d 23:59:59'))
        </if>
        <if test="type == 'month'">
            AND (s.sale_date BETWEEN concat(date_format(LAST_DAY(now()),'%Y-%m-'),'01') AND LAST_DAY(now()))
        </if>
        <if test="type == 'year'.toString()">
            AND YEAR(s.sale_date) = YEAR(NOW())
        </if>
        <if test="listParam != null">
            AND s.user_code IN
            <foreach collection="listParam" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        /*AND u.real_name IS NOT NULL*/
        GROUP BY s.salesman_code,u.real_name
        ORDER BY receivable_accoun DESC
    </select>

    <select id="queryPersonageNum" resultType="java.lang.Integer">
        SELECT count(1) from tab_sale_info s
        where 1 = 1 and is_enable = 1
        <if test="type == 'month'">
            AND (s.sale_date BETWEEN concat(date_format(LAST_DAY(now()),'%Y-%m-'),'01') AND LAST_DAY(now()))
        </if>
        <if test="type == 'year'.toString()">
            AND YEAR(s.sale_date) = YEAR(NOW())
        </if>
        <if test="listParam != null">
            AND s.user_code IN
            <foreach collection="listParam" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>