<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exx.dzj.mapper.statistics.sales.SaleTicketReportMapper">
    <select id="statisticsSaleByInventory" resultMap="stockTypeMap" parameterType="com.exx.dzj.entity.bean.StockInfoQuery">
      SELECT
        sgd.stock_code, sgd.stock_name, dinfo.dict_name,
        CASE
            WHEN sgd.real_sell_price > 0 THEN sgd.real_sell_price
        ELSE
            sgd.unit_price
        END unitPrice,
        snp.standard_buy_price, uinfo.real_name,
        sgd.goods_num, snp.stock_address,
        sinfo.sale_code, DATE_FORMAT(sinfo.sale_date, '%Y-%m-%d') sale_date,
        cs.cust_code, cs.cust_name
      FROM tab_sale_info sinfo
        LEFT JOIN tab_sale_goods_detail sgd ON sinfo.sale_code = sgd.sale_code
        LEFT JOIN tab_stock_info stinfo ON stinfo.stock_code = sgd.stock_code
        LEFT JOIN tab_user_info uinfo ON sinfo.user_code = uinfo.user_code
        LEFT JOIN tab_customer_supplier cs ON sinfo.cust_code = cs.cust_code
        INNER JOIN tab_dictionary_info dinfo ON dinfo.dict_code = stinfo.stock_class AND dinfo.data_type = 'inventory_type'
        INNER JOIN tab_stock_num_price snp ON sgd.stock_code = snp.stock_code
      WHERE 1 =1
        <if test="startDate != null and startDate != ''">
            AND  <![CDATA[sinfo.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND  <![CDATA[sinfo.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="stockClass != null and stockClass != ''">
            AND stinfo.stock_class = #{stockClass}
        </if>
    </select>

    <resultMap id="stockTypeMap" type="com.exx.dzj.entity.statistics.sales.StockBaseReport">
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
        <result column="dict_name" property="stockClassName"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="standard_buy_price" property="standardBuyPrice"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="stock_address" property="stockAddress"/>
        <result column="sale_code" property="saleCode"/>
        <result column="sale_date" property="saleDate"/>
        <result column="cust_code" property="custCode"/>
        <result column="real_name" property="realName"/>
        <result column="cust_name" property="custName"/>
    </resultMap>


    <!-- 销售单-依销售 -->
    <select id="statisticsSaleBySalesMan" parameterType="com.exx.dzj.entity.bean.UserInfoQuery" resultMap="userReportMap">
      SELECT
            sinfo.sale_code, DATE_FORMAT(sinfo.sale_date, '%Y-%m-%d') sale_date,sinfo.salesman_code,
            IFNULL((SELECT SUM(srd.collected_amount) FROM tab_sale_receipts_details srd WHERE srd.sale_code = sinfo.sale_code), 0) AS collected_amount,
            cs.cust_code, cs.cust_name,
            uinfo.user_code, uinfo.real_name, uinfo.commission_rate,
            sgd.goods_num, CASE
                    WHEN sgd.real_sell_price > 0 THEN sgd.real_sell_price
                ELSE
                    sgd.unit_price
                END unitPrice, snp.standard_buy_price, sgd.stock_code, sgd.stock_name
        FROM
            tab_sale_info sinfo
            LEFT JOIN tab_customer_supplier cs ON sinfo.cust_code = cs.cust_code
            LEFT JOIN tab_user_info uinfo ON sinfo.user_code = uinfo.user_code
            LEFT JOIN tab_sale_goods_detail sgd ON sinfo.sale_code = sgd.sale_code
/*            LEFT JOIN tab_sale_receipts_details srd ON sinfo.sale_code = srd.sale_code*/
            INNER JOIN tab_stock_num_price snp ON sgd.stock_code = snp.stock_code
        WHERE 1 = 1
        <if test="startDate != null and startDate != ''">
            AND  <![CDATA[sinfo.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND  <![CDATA[sinfo.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="userCodeList != null and userCodeList.size() > 0">
            AND uinfo.user_code IN
            <foreach collection="userCodeList" item="item" close=")" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        AND uinfo.user_code is not null
    </select>

    <select id="querySalesDeductionBySaleman" parameterType="com.exx.dzj.entity.bean.UserInfoQuery" resultType="com.exx.dzj.entity.statistics.sales.SaleDeductionReport">
        SELECT
        ui.user_code AS userCode,
        SUM(IFNULL(si.receivable_accoun,0)) AS sumSaleVolume,  /*销售额, 总金额-优惠金额*/
        SUM(IFNULL(sg.goods_num,0)) AS sumGoodsNum, /*数量*/
        SUM(IFNULL(sg.goods_num,0) * IFNULL(sg.unit_price,0)) AS sumSaleCost,  /*成本*/
        SUM(IFNULL(si.receivable_accoun,0) - IFNULL(sg.goods_num,0) * IFNULL(sg.unit_price,0)) AS sumGrossMargin, /*毛利*/
        CONVERT(SUM(IFNULL(si.receivable_accoun,0) - IFNULL(sg.goods_num,0) * IFNULL(sg.unit_price,0)) / SUM(IFNULL(si.receivable_accoun,0)),DECIMAL(10, 4)) * 100 AS grossRate,
        SUM(IFNULL(sg1.goods_num,0)) AS sumCost, /*额外支出费用*/
        SUM(IFNULL(si.receivable_accoun,0)) - SUM(IFNULL(sg1.goods_num,0)) AS pureProfit,
        ui.commission_rate AS commissionRate, /*佣金率*/
        IFNULL(IFNULL(ui.commission_rate,0) * SUM(IFNULL(si.receivable_accoun,0)), 0) / 100 AS commission, /*佣金*/
        ui.real_name AS realName
        FROM
        tab_sale_info si
        LEFT JOIN tab_user_info ui ON ui.user_code = si.user_code
        LEFT JOIN tab_sale_goods_detail sg ON si.sale_code = sg.sale_code
        LEFT JOIN tab_sale_goods_detail sg1 ON si.sale_code = sg1.sale_code AND sg1.stock_code REGEXP '^cb'
        LEFT JOIN tab_sale_receipts_details sr ON si.sale_code = sr.sale_code
        WHERE 1 =1
        <if test="userCodeList != null">
            AND si.user_code IN
            <foreach collection="userCodeList" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">
            AND <![CDATA[si.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND <![CDATA[si.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="paymentStatu == '1'" >
            AND si.payment_status = 'cs03'
        </if>
        <if test="businessType != null">
            AND si.sale_ticket_type IN
            <foreach collection="businessType" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>

        GROUP BY si.user_code
    </select>


    <!-- 销售单分析依客户 -->
    <resultMap id="userReportMap" type="com.exx.dzj.entity.statistics.sales.SalesmanBaseReport">
        <result column="sale_code" property="saleCode"/>
        <result column="sale_date" property="saleDate"/>
        <result column="collected_amount" property="collectedAmount"/>
        <result column="cust_code" property="custCode"/>
        <result column="salesman_code" property="salesmanCode"/>
        <result column="cust_name" property="custName"/>
        <result column="user_code" property="userCode"/>
        <result column="real_name" property="realName"/>
        <result column="commission_rate" property="commissionRate"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="standard_buy_price" property="standardBuyPrice"/>
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
    </resultMap>

    <select id="querySalesTicketByCust"  parameterType="com.exx.dzj.entity.bean.CustomerQuery" resultMap="customerReportMap">
        SELECT
            sinfo.sale_code,
            DATE_FORMAT(sinfo.sale_date, '%Y-%m-%d') sale_date,
            cs.cust_code,
            cs.cust_name,
            sgd.goods_num,
            CASE
                WHEN sgd.real_sell_price > 0 THEN
                  sgd.real_sell_price
                ELSE
                  sgd.unit_price
                END unitPrice,
            snp.standard_buy_price,
            sgd.stock_code,
            sgd.stock_name
        FROM
          tab_sale_info sinfo
        LEFT JOIN tab_customer_supplier cs ON sinfo.cust_code = cs.cust_code
        LEFT JOIN tab_sale_goods_detail sgd ON sinfo.sale_code = sgd.sale_code
        INNER JOIN tab_stock_num_price snp ON sgd.stock_code = snp.stock_code
        WHERE 1 = 1
        <if test="startDate != null and startDate != ''">
            AND  <![CDATA[sinfo.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND  <![CDATA[sinfo.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="fromCustId != null and fromCustId != ''">
            AND <![CDATA[cs.id >= #{fromCustId}]]>
        </if>
        <if test="toCustId and toCustId != ''">
            AND <![CDATA[cs.id <= #{toCustId}]]>
        </if>
        AND cs.cust_code IS NOT NULL
    </select>

    <!-- 销售员提成汇总统计 -->
    <resultMap id="customerReportMap" type="com.exx.dzj.entity.statistics.sales.CustomerBaseReport">
        <result column="sale_code" property="saleCode"/>
        <result column="sale_date" property="saleDate"/>
        <result column="cust_code" property="custCode"/>
        <result column="cust_name" property="custName"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="standard_buy_price" property="standardBuyPrice"/>
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>

    </resultMap>

    <select id="selectionDeptInfo" resultMap="deptMap">
      SELECT id, dept_code, dept_name, parent_code
      FROM tab_dept_info
      WHERE 1=1 AND parent_code = #{parentCode} AND is_enable = 1
    </select>
    
    <resultMap id="deptMap" type="com.exx.dzj.entity.statistics.sales.DeptSaleReport">
        <result column="id" property="id" />
        <result column="dept_code" property="deptCode" />
        <result column="dept_name" property="deptName" />
        <result column="parent_code" property="parentCode" />
        <collection property="childrenList" javaType="java.util.List" ofType="com.exx.dzj.entity.statistics.sales.DeptSaleReport"
                    column="deptCode=dept_code" select="selectionDeptInfoChildren"/>
    </resultMap>

    <select id="selectionDeptInfoChildren" resultMap="deptMap">
        SELECT id, dept_code, dept_name, parent_code
        FROM tab_dept_info
        WHERE 1=1 AND parent_code = #{deptCode} AND is_enable = 1
    </select>
    
    <select id="queryDeptSaleReport" parameterType="com.exx.dzj.entity.bean.DeptInfoQuery" resultMap="deptReprotMap">
        SELECT
            dept.id, dept.dept_code, dept.dept_name,dept.parent_code,
            IFNULL(sum(ss.sumSaleVolume), 0) AS sumSaleVolume,/*销售额, 总金额-优惠金额*/
            IFNULL(sum(ss.sumSaleCost), 0) AS sumSaleCost,/*成本*/
            IFNULL(sum(ss.sumGrossMargin), 0) AS sumGrossMargin,/*毛利*/
            IFNULL(sum(ss.sumCost), 0) AS sumCost, /*额外支出费用*/
            IFNULL(sum(ss.pureProfit), 0) AS pureProfit,/*纯利润*/
            IFNULL(sum(ss.commission), 0) AS commission/*佣金*/
        FROM
          tab_dept_info dept
        LEFT JOIN
            (SELECT
                ui.user_code AS userCode,
                ui.dept_code AS deptCode,
                SUM(si.receivable_accoun) AS sumSaleVolume,  /*销售额, 总金额-优惠金额*/
                SUM(sg.goods_num * sg.unit_price) AS sumSaleCost,  /*成本*/
                SUM(si.receivable_accoun - sg.goods_num * sg.unit_price) AS sumGrossMargin, /*毛利*/
                SUM(sg1.goods_num) AS sumCost, /*额外支出费用*/
                SUM(si.receivable_accoun) - SUM(sg1.goods_num) AS pureProfit,/*纯利润*/
                IFNULL(ui.commission_rate * SUM(si.receivable_accoun), 0) / 100 AS commission, /*佣金*/
                ui.real_name AS realName
            FROM
              tab_sale_info si
            LEFT JOIN tab_user_info ui ON ui.user_code = si.user_code
            INNER JOIN tab_sale_goods_detail sg ON si.sale_code = sg.sale_code
            INNER JOIN tab_sale_goods_detail sg1 ON si.sale_code = sg1.sale_code AND sg1.stock_code REGEXP '^cb'
            LEFT JOIN tab_sale_receipts_details sr ON si.sale_code = sr.sale_code
            WHERE 1 =1 GROUP BY si.user_code) ss ON dept.dept_code = ss.deptCode
        WHERE dept.is_enable = 1
            <if test="deptCodeList != null">
                AND dept.dept_code IN
                <foreach collection="deptCodeList" item="item" open="(" close=")" separator=",">
                  #{item}
                </foreach>
            </if>
        GROUP BY dept.dept_code
    </select>
    
    <resultMap id="deptReprotMap" type="com.exx.dzj.entity.statistics.sales.DeptSaleReport">
        <result column="id" property="id"/>
        <result column="dept_code" property="deptCode"/>
        <result column="dept_name" property="deptName"/>
        <result column="parent_code" property="parentCode"/>
        <result column="sumSaleVolume" property="sumSaleVolume"/>
        <result column="sumSaleCost" property="sumSaleCost"/>
        <result column="sumGrossMargin" property="sumGrossMargin"/>
        <result column="sumCost" property="sumCost"/>
        <result column="pureProfit" property="pureProfit"/>
        <result column="commission" property="commission"/>
    </resultMap>

    <select id="queryStasticsSalesForYear" resultMap="salesMapForYear">
        SELECT
          YEAR(sale_date) AS `year`,MONTH(sale_date) AS `month`, SUM(receivable_accoun) AS sum_receivable_accoun
        FROM tab_sale_info
            GROUP BY YEAR (sale_date), MONTH (sale_date)
            ORDER BY YEAR(sale_date);
    </select>
    <resultMap id="salesMapForYear" type="com.exx.dzj.entity.statistics.sales.HomePageReport">
        <result column="month" property="month"/>
        <result column="sum_receivable_accoun" property="sumReceivableAccoun"/>
    </resultMap>

    <select id="queryStasticsSalesForMonth" resultMap="salesMapForMomth">
        SELECT DAY(sale_date) AS `day`, SUM(receivable_accoun)  AS sum_receivable_accoun
        FROM tab_sale_info
        WHERE MONTH(sale_date) = MONTH(sysdate())
        GROUP BY DAY(sale_date);
    </select>
    
    <resultMap id="salesMapForMomth" type="com.exx.dzj.entity.statistics.sales.HomePageReport">
        <result column="day" property="day"/>
        <result column="sum_receivable_accoun" property="sumReceivableAccoun"/>
    </resultMap>

    <select id="querySaleDetailList" resultMap="saleDetailMap" parameterType="com.exx.dzj.bean.SaleDetailReportQuery">
        SELECT
            sinfo.sale_code,
            DATE_FORMAT(sinfo.sale_date, '%Y-%m-%d') sale_date,
            sinfo.salesman_code,
            sinfo.exchange_rate,
            uinfo.real_name,
            cs.cust_code,
            cs.cust_name,
            IFNULL(sgd.goods_num, 0) AS goods_num,
            CASE
            WHEN sgd.real_sell_price > 0 THEN sgd.real_sell_price
            ELSE sgd.unit_price
            END unitPrice,
            sgd.stock_address,
            sgd.stock_code,

            sgd.stock_name
        FROM
          tab_sale_info sinfo
        LEFT JOIN tab_customer_supplier cs ON sinfo.cust_code = cs.cust_code
        LEFT JOIN tab_sale_goods_detail sgd ON sinfo.sale_code = sgd.sale_code
        LEFT JOIN tab_user_info uinfo ON sinfo.salesman_code = uinfo.salesman_code
        INNER JOIN tab_stock_num_price snp ON sgd.stock_code = snp.stock_code
        WHERE
          1 = 1
        <if test="startDate != null and startDate != ''">
            AND  <![CDATA[sinfo.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND  <![CDATA[sinfo.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="fromCustId != null and fromCustId != ''">
            AND <![CDATA[cs.id >= #{fromCustId}]]>
        </if>
        <if test="toCustId and toCustId != ''">
            AND <![CDATA[cs.id <= #{toCustId}]]>
        </if>
        <if test="paymentStatusList != null and paymentStatusList.size() > 0">
            AND sinfo.payment_status IN
            <foreach collection="paymentStatusList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <resultMap id="saleDetailMap" type="com.exx.dzj.entity.statistics.sales.SaleDetailBaseReport">
        <result column="sale_code" property="saleCode"/>
        <result column="exchange_rate" property="exchangeRate"/>
        <result column="sale_date" property="saleDate"/>
        <result column="salesman_code" property="salesmanCode"/>
        <result column="real_name" property="realName"/>
        <result column="cust_code" property="custCode"/>
        <result column="cust_name" property="custName"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="stock_address" property="stockAddress"/>
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
        <!--<result column="originalSaleVolume" property="originalSaleVolume"/>-->
    </resultMap>
</mapper>