<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exx.dzj.mapper.statistics.sales.SaleTicketReportMapper">
    <select id="statisticsSaleByInventory" resultMap="stockTypeMap" parameterType="com.exx.dzj.entity.bean.StockInfoQuery">
      SELECT
        sinfo.id, sgd.stock_code, sgd.stock_name, dinfo.dict_name,
        CASE
            WHEN sgd.real_sell_price > 0 THEN sgd.real_sell_price
        ELSE
            sgd.unit_price
        END unitPrice,
        snp.standard_buy_price, uinfo.real_name,
        sgd.goods_num, snp.stock_address,
        sinfo.sale_code, DATE_FORMAT(sinfo.sale_date, '%Y-%m-%d') sale_date,IFNULL(sinfo.discount_amount,0) discount_amount,
        cs.cust_code, cs.cust_name
      FROM tab_sale_info sinfo
        LEFT JOIN tab_sale_goods_detail sgd ON sinfo.sale_code = sgd.sale_code AND sgd.stock_code NOT REGEXP '^cb'
        LEFT JOIN tab_stock_info stinfo ON stinfo.stock_code = sgd.stock_code
        LEFT JOIN tab_user_info uinfo ON sinfo.user_code = uinfo.user_code
        LEFT JOIN tab_customer_supplier cs ON sinfo.cust_code = cs.cust_code AND cs.cust_type IN (1, 3)
        INNER JOIN tab_dictionary_info dinfo ON dinfo.dict_code = stinfo.stock_class AND dinfo.data_type = 'inventory_type'
        INNER JOIN tab_stock_num_price snp ON sgd.stock_code = snp.stock_code
      WHERE 1 =1
        <if test="startDate != null and startDate != ''">
            AND  <![CDATA[sinfo.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND  <![CDATA[sinfo.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="stockClass != null and stockClass != ''">
            AND stinfo.stock_class = #{stockClass}
        </if>
        <!--<if test="stockName != null and stockName != ''">
            AND sgd.stock_name LIKE CONCAT('%' , #{stockName}, '%')
        </if>-->
        <if test="fromId != null and fromId != ''">
            AND <![CDATA[stinfo.stock_code >= #{fromId}]]>
        </if>
        <if test="toId != null and toId != ''">
            AND <![CDATA[stinfo.stock_code <= #{toId}]]>
        </if>
        /*group by stinfo.id*/
    </select>

    <resultMap id="stockTypeMap" type="com.exx.dzj.entity.statistics.sales.StockBaseReport">
        <result column="id" property="id"/>
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="dict_name" property="stockClassName"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="standard_buy_price" property="standardBuyPrice"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="stock_address" property="stockAddress"/>
        <result column="sale_code" property="saleCode"/>
        <result column="sale_date" property="saleDate"/>
        <result column="cust_code" property="custCode"/>
        <result column="real_name" property="realName"/>
        <result column="cust_name" property="custName"/>
    </resultMap>


    <!-- 销售单-依销售 -->
    <select id="statisticsSaleBySalesMan" parameterType="com.exx.dzj.entity.bean.UserInfoQuery" resultMap="userReportMap">
      SELECT
            sinfo.id AS id,
            sinfo.sale_code, DATE_FORMAT(sinfo.sale_date, '%Y-%m-%d') sale_date,
            case when uinfo.is_quit = 0 then concat('L', sinfo.salesman_code)
              else sinfo.salesman_code
              end salesman_code,
            IFNULL((SELECT SUM(srd.collected_amount) FROM tab_sale_receipts_details srd WHERE srd.sale_code = sinfo.sale_code), 0) AS collected_amount,
            cs.cust_code, cs.cust_name,
            uinfo.user_code, uinfo.real_name, uinfo.commission_rate,IFNULL(sinfo.discount_amount,0) discount_amount,
            sgd.goods_num, CASE
                    WHEN sgd.real_sell_price >= 0 THEN sgd.real_sell_price
                ELSE
                    sgd.unit_price
                END unitPrice, snp.standard_buy_price, sgd.stock_code, sgd.stock_name
        FROM
            tab_sale_info sinfo
            LEFT JOIN tab_customer_supplier cs ON sinfo.cust_code = cs.cust_code AND cs.cust_type IN (1, 3)
            LEFT JOIN tab_user_info uinfo ON sinfo.user_code = uinfo.user_code
            LEFT JOIN tab_sale_goods_detail sgd ON sinfo.sale_code = sgd.sale_code
/*            LEFT JOIN tab_sale_receipts_details srd ON sinfo.sale_code = srd.sale_code*/
            INNER JOIN tab_stock_num_price snp ON sgd.stock_code = snp.stock_code
        WHERE 1 = 1
        <if test="startDate != null and startDate != ''">
            AND  <![CDATA[sinfo.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND  <![CDATA[sinfo.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="userCodeList != null and userCodeList.size() > 0">
            AND uinfo.user_code IN
            <foreach collection="userCodeList" item="item" close=")" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        AND uinfo.user_code is not null
    </select>

    <select id="querySalesDeductionBySaleman" parameterType="com.exx.dzj.entity.bean.UserInfoQuery" resultType="com.exx.dzj.entity.statistics.sales.SaleDeductionReport">
        SELECT
        si.id AS id,
        case when ui.is_quit = 0 then concat('L', IFNULL(si.salesman_code, ''))
          else IFNULL(si.salesman_code, '')
          end salesmanCode,
        IFNULL(ui.real_name, '') AS realName,
        SUM(IFNULL(sg.goods_num,0)) AS sumGoodsNum, /*数量*/
        SUM(IFNULL(IFNULL(sg.goods_num,0) * IFNULL(sg.real_sell_price,0) ,0)) AS sumSaleVolume,  /*销售额, 总金额*/
        SUM(IFNULL(sg.goods_num,0) * IFNULL(sprice.standard_buy_price,0)) AS sumSaleCost,  /*成本*/
        SUM(IFNULL(IFNULL(sg.goods_num,0) * IFNULL(sg.real_sell_price,0) ,0)) - SUM(IFNULL(sg.goods_num,0) * IFNULL(sprice.standard_buy_price,0)) AS sumGrossMargin, /*毛利*/
        IFNULL(CONVERT(
        SUM(IFNULL(sg.goods_num,0) * IFNULL(sg.real_sell_price,0) - IFNULL(sg.goods_num,0) * IFNULL(sprice.standard_buy_price,0))
        / SUM(IFNULL(sg.goods_num,0) * IFNULL(sg.real_sell_price,0)),DECIMAL(10, 4)) * 100, 0) AS grossRate,/*毛利率*/
        (SELECT SUM(IFNULL(sii.discount_amount,0)) FROM tab_sale_info sii WHERE 1=1

        <if test="startDate != null and startDate != ''">
            AND <![CDATA[ sii.sale_date >= DATE_FORMAT(#{startDate}, '%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND <![CDATA[ sii.sale_date <= DATE_FORMAT(#{endDate}, '%Y-%m-%d 23:59:59') ]]>
        </if>
        AND sii.user_code = si.user_code ) sumCost, /*费用也就是优惠金额*/
        IFNULL(ui.commission_rate, 0) AS commissionRate,
        IFNULL(ui.user_code, '') AS userCode
        FROM
            tab_sale_info si
        LEFT JOIN tab_user_info ui ON ui.user_code = si.user_code
        LEFT JOIN tab_sale_goods_detail sg ON si.sale_code = sg.sale_code
        LEFT JOIN tab_stock_num_price sprice ON sprice.stock_code = sg.stock_code
        WHERE 1 =1
        <if test="userCodeList != null">
            AND si.user_code IN
            <foreach collection="userCodeList" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">
            AND <![CDATA[si.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND <![CDATA[si.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="businessType != null">
            AND si.sale_ticket_type IN
            <foreach collection="businessType" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        GROUP BY si.user_code
        ORDER BY si.salesman_code
    </select>

    <select id="queryPartiallySalesDeductionBySaleman" parameterType="com.exx.dzj.entity.bean.UserInfoQuery" resultType="com.exx.dzj.entity.statistics.sales.SaleDeductionReport">
        SELECT
        SUM(IFNULL(rd.collected_amount,0)) AS sumSaleVolume,  /*销售额, 总金额*/
        (SELECT SUM(IFNULL(sii.discount_amount,0)) FROM tab_sale_info sii WHERE 1=1
        <if test="startDate != null and startDate != ''">
            AND <![CDATA[ sii.sale_date >= DATE_FORMAT(#{startDate}, '%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND <![CDATA[ sii.sale_date <= DATE_FORMAT(#{endDate}, '%Y-%m-%d 23:59:59') ]]>
        </if>
        AND sii.user_code = si.user_code ) sumCost, /*费用也就是优惠金额*/
        IFNULL(ui.commission_rate, 0) AS commissionRate, /* 佣金率 */
        IFNULL(ui.user_code, '') AS userCode
        FROM
            tab_sale_info si
        LEFT JOIN tab_user_info ui ON ui.user_code = si.user_code
        LEFT JOIN tab_sale_receipts_details rd ON si.sale_code = rd.sale_code
        WHERE 1 =1
        <if test="userCodeList != null">
            AND si.user_code IN
            <foreach collection="userCodeList" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">
            AND <![CDATA[si.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND <![CDATA[si.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="paymentStatu == '2'">
           AND si.payment_status IN ('cs03', 'cs02')
        </if>
        <if test="businessType != null">
            AND si.sale_ticket_type IN
            <foreach collection="businessType" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
        GROUP BY si.user_code
        ORDER BY si.salesman_code
    </select>


    <!-- 销售单分析依客户 -->
    <resultMap id="userReportMap" type="com.exx.dzj.entity.statistics.sales.SalesmanBaseReport">
        <result column="id" property="id"/>
        <result column="sale_code" property="saleCode"/>
        <result column="sale_date" property="saleDate"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="collected_amount" property="collectedAmount"/>
        <result column="cust_code" property="custCode"/>
        <result column="salesman_code" property="salesmanCode"/>
        <result column="cust_name" property="custName"/>
        <result column="user_code" property="userCode"/>
        <result column="real_name" property="realName"/>
        <result column="commission_rate" property="commissionRate"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="standard_buy_price" property="standardBuyPrice"/>
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
    </resultMap>

    <select id="querySalesTicketByCust"  parameterType="com.exx.dzj.entity.bean.CustomerQuery" resultMap="customerReportMap">
        SELECT
            sinfo.id,
            sinfo.sale_code,
            DATE_FORMAT(sinfo.sale_date, '%Y-%m-%d') sale_date,
            cs.cust_code,
            cs.cust_name,
            IFNULL(sinfo.discount_amount,0) discount_amount,
            IFNULL(sinfo.discount_amount,0) discount_amount,
            sgd.goods_num,
            CASE
                WHEN sgd.real_sell_price > 0 THEN
                  sgd.real_sell_price
                ELSE
                  sgd.unit_price
                END unitPrice,
            snp.standard_buy_price,
            sgd.stock_code,
            sgd.stock_name
        FROM
          tab_sale_info sinfo
        LEFT JOIN tab_customer_supplier cs ON sinfo.cust_code = cs.cust_code
        LEFT JOIN tab_sale_goods_detail sgd ON sinfo.sale_code = sgd.sale_code
        INNER JOIN tab_stock_num_price snp ON sgd.stock_code = snp.stock_code
        WHERE 1 = 1
        <if test="startDate != null and startDate != ''">
            AND  <![CDATA[sinfo.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND  <![CDATA[sinfo.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="fromCustId != null and fromCustId != ''">
            AND <![CDATA[cs.id >= #{fromCustId}]]>
        </if>
        <if test="toCustId and toCustId != ''">
            AND <![CDATA[cs.id <= #{toCustId}]]>
        </if>
        AND cs.cust_code IS NOT NULL
    </select>

    <!-- 销售员提成汇总统计 -->
    <resultMap id="customerReportMap" type="com.exx.dzj.entity.statistics.sales.CustomerBaseReport">
        <result column="sale_code" property="saleCode"/>
        <result column="id" property="id"/>
        <result column="sale_date" property="saleDate"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="cust_code" property="custCode"/>
        <result column="cust_name" property="custName"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="standard_buy_price" property="standardBuyPrice"/>
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>

    </resultMap>

    <select id="selectionDeptInfo" resultMap="deptMap">
      SELECT id, dept_code, dept_name, parent_code
      FROM tab_dept_info
      WHERE 1=1 AND parent_code = #{parentCode} AND is_enable = 1
    </select>
    
    <resultMap id="deptMap" type="com.exx.dzj.entity.statistics.sales.DeptSaleReport">
        <result column="id" property="id" />
        <result column="dept_code" property="deptCode" />
        <result column="dept_name" property="deptName" />
        <result column="parent_code" property="parentCode" />
        <collection property="childrenList" javaType="java.util.List" ofType="com.exx.dzj.entity.statistics.sales.DeptSaleReport"
                    column="deptCode=dept_code" select="selectionDeptInfoChildren"/>
    </resultMap>

    <select id="selectionDeptInfoChildren" resultMap="deptMap">
        SELECT id, dept_code, dept_name, parent_code
        FROM tab_dept_info
        WHERE 1=1 AND parent_code = #{deptCode} AND is_enable = 1
    </select>
    
    <select id="queryDeptSaleReport" parameterType="com.exx.dzj.entity.bean.DeptInfoQuery" resultMap="deptReprotMap">
        SELECT
            dept.id, dept.dept_code, dept.dept_name,dept.parent_code,
            IFNULL(sum(ss.sumSaleVolume), 0) AS sumSaleVolume,/*销售额, 总金额-优惠金额*/
            IFNULL(sum(ss.sumSaleCost), 0) AS sumSaleCost,/*成本*/
            IFNULL(sum(ss.sumGrossMargin), 0) AS sumGrossMargin,/*毛利*/
            IFNULL(sum(ss.sumCost), 0) AS sumCost, /*额外支出费用*/
            IFNULL(sum(ss.pureProfit), 0) AS pureProfit,/*纯利润*/
            IFNULL(sum(ss.commission), 0) AS commission/*佣金*/
        FROM
          tab_dept_info dept
        LEFT JOIN
            (SELECT
                ui.user_code AS userCode,
                ui.dept_code AS deptCode,
                SUM(si.receivable_accoun) AS sumSaleVolume,  /*销售额, 总金额-优惠金额*/
                SUM(sg.goods_num * sg.unit_price) AS sumSaleCost,  /*成本*/
                SUM(si.receivable_accoun - sg.goods_num * sg.unit_price) AS sumGrossMargin, /*毛利*/
                SUM(sg1.goods_num) AS sumCost, /*额外支出费用*/
                SUM(si.receivable_accoun) - SUM(sg1.goods_num) AS pureProfit,/*纯利润*/
                IFNULL(ui.commission_rate * SUM(si.receivable_accoun), 0) / 100 AS commission, /*佣金*/
                ui.real_name AS realName
            FROM
              tab_sale_info si
            LEFT JOIN tab_user_info ui ON ui.user_code = si.user_code
            INNER JOIN tab_sale_goods_detail sg ON si.sale_code = sg.sale_code
            INNER JOIN tab_sale_goods_detail sg1 ON si.sale_code = sg1.sale_code AND sg1.stock_code REGEXP '^cb'
            LEFT JOIN tab_sale_receipts_details sr ON si.sale_code = sr.sale_code
            WHERE 1 =1 GROUP BY si.user_code) ss ON dept.dept_code = ss.deptCode
        WHERE dept.is_enable = 1
            <if test="deptCodeList != null">
                AND dept.dept_code IN
                <foreach collection="deptCodeList" item="item" open="(" close=")" separator=",">
                  #{item}
                </foreach>
            </if>
        GROUP BY dept.dept_code
    </select>
    
    <resultMap id="deptReprotMap" type="com.exx.dzj.entity.statistics.sales.DeptSaleReport">
        <result column="id" property="id"/>
        <result column="dept_code" property="deptCode"/>
        <result column="dept_name" property="deptName"/>
        <result column="parent_code" property="parentCode"/>
        <result column="sumSaleVolume" property="sumSaleVolume"/>
        <result column="sumSaleCost" property="sumSaleCost"/>
        <result column="sumGrossMargin" property="sumGrossMargin"/>
        <result column="sumCost" property="sumCost"/>
        <result column="pureProfit" property="pureProfit"/>
        <result column="commission" property="commission"/>
    </resultMap>

    <select id="queryStasticsSalesForYear" resultMap="salesMapForYear">
        SELECT
          YEAR(sale_date) AS `year`,MONTH(sale_date) AS `month`, SUM(goods.goods_num * goods.real_sell_price) AS sum_receivable_accoun
        FROM tab_sale_info sinfo
          INNER JOIN	tab_sale_goods_detail goods ON sinfo.sale_code = goods.sale_code
            GROUP BY YEAR (sale_date), MONTH (sale_date)
            ORDER BY YEAR(sale_date);
    </select>
    <resultMap id="salesMapForYear" type="com.exx.dzj.entity.statistics.sales.HomePageReport">
        <result column="month" property="month"/>
        <result column="sum_receivable_accoun" property="sumReceivableAccoun"/>
    </resultMap>

    <select id="queryStasticsSalesForMonth" resultMap="salesMapForMomth">
        /*SELECT DAY(sale_date) AS `day`, SUM(receivable_accoun)  AS sum_receivable_accoun
        FROM tab_sale_info
        WHERE MONTH(sale_date) = MONTH(sysdate()) AND YEAR(sale_date) = YEAR(sysdate())
        GROUP BY DAY(sale_date)*/

        SELECT DAY(t.sale_date) AS `day`,sum(td.goods_num * td.real_sell_price) AS sum_receivable_accoun
        from tab_sale_info t,tab_sale_goods_detail td
        WHERE MONTH(t.sale_date) = MONTH(sysdate())
        AND YEAR(t.sale_date) = YEAR(sysdate())
        AND t.sale_code = td.sale_code
        GROUP BY DAY(t.sale_date)
    </select>
    
    <resultMap id="salesMapForMomth" type="com.exx.dzj.entity.statistics.sales.HomePageReport">
        <result column="day" property="day"/>
        <result column="sum_receivable_accoun" property="sumReceivableAccoun"/>
    </resultMap>

    <select id="querySaleDetailList" resultMap="saleDetailMap" parameterType="com.exx.dzj.bean.SaleDetailReportQuery">
        SELECT
            sinfo.sale_code,
            DATE_FORMAT(sinfo.sale_date, '%Y-%m-%d') sale_date,
            sinfo.salesman_code,
            sinfo.exchange_rate,
            IFNULL(sinfo.discount_amount,0) discount_amount,
            uinfo.real_name,
            cs.cust_code,
            cs.cust_name,
            IFNULL(sgd.goods_num, 0) AS goods_num,
            CASE
            WHEN sgd.real_sell_price > 0 THEN sgd.real_sell_price
            ELSE sgd.unit_price
            END unitPrice,
            sgd.stock_address,
            sgd.stock_code,

            sgd.stock_name
        FROM
          tab_sale_info sinfo
        LEFT JOIN tab_sale_goods_detail sgd ON sinfo.sale_code = sgd.sale_code
        LEFT JOIN tab_customer_supplier cs ON sinfo.cust_code = cs.cust_code AND (cs.cust_type = 1 OR cs.cust_type = 3)
        LEFT JOIN tab_user_info uinfo ON sinfo.user_code = uinfo.user_code
        WHERE
          1 = 1
        <if test="startDate != null and startDate != ''">
            AND  <![CDATA[sinfo.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND  <![CDATA[sinfo.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="fromCustId != null and fromCustId != ''">
            AND <![CDATA[cs.id >= #{fromCustId}]]>
        </if>
        <if test="toCustId and toCustId != ''">
            AND <![CDATA[cs.id <= #{toCustId}]]>
        </if>
        <if test="paymentStatusList != null and paymentStatusList.size() > 0">
            AND sinfo.payment_status IN
            <foreach collection="paymentStatusList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY sinfo.sale_date
    </select>

    <resultMap id="saleDetailMap" type="com.exx.dzj.entity.statistics.sales.SaleDetailBaseReport">
        <result column="sale_code" property="saleCode"/>
        <result column="exchange_rate" property="exchangeRate"/>
        <result column="sale_date" property="saleDate"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="salesman_code" property="salesmanCode"/>
        <result column="real_name" property="realName"/>
        <result column="cust_code" property="custCode"/>
        <result column="cust_name" property="custName"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="unitPrice" property="unitPrice"/>
        <result column="stock_address" property="stockAddress"/>
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
        <!--<result column="originalSaleVolume" property="originalSaleVolume"/>-->
    </resultMap>
    
    
    <select id="queryVipCustomerlevelList" resultType="com.exx.dzj.entity.statistics.sales.VIPCustomerLevelReport">
        SELECT
            cs.cust_code AS custCode, cs.cust_name AS custName,
            uinfo.real_name AS realName,
            (SELECT COUNT(1) FROM tab_sale_info s WHERE s.cust_code = cs.cust_code) AS buyCount,/*购买次数*/
            SUM(IFNULL(goods.goods_num, 0) * IFNULL(goods.real_sell_price, 0)) AS saleVolume,/*销售额*/
            SUM(IFNULL(goods.goods_num,0)) AS goodsNum, /*数量*/
            SUM(IFNULL(goods.goods_num, 0) * IFNULL(price.standard_buy_price, 0)) AS cost,/*成本*/
            (SELECT sum(ss.discount_amount) FROM tab_sale_info ss WHERE ss.cust_code = cs.cust_code) AS discountAmount /*优惠金额*/
        FROM tab_customer_supplier cs
        LEFT JOIN tab_sale_info sinfo ON cs.cust_code = sinfo.cust_code
        LEFT JOIN tab_user_info uinfo ON sinfo.user_code = uinfo.user_code
        LEFT JOIN tab_sale_goods_detail goods ON sinfo.sale_code = goods.sale_code
        LEFT JOIN tab_stock_num_price price ON goods.stock_code = price.stock_code
        WHERE cs.cust_type IN (1, 3)
        AND (cs.totalVolume >= 12000 OR cs.buyCount >= 5)
        GROUP BY cs.cust_code
        ORDER BY saleVolume DESC,buyCount DESC
    </select>
    <select id="queryVipCustomerlevelList2" resultType="com.exx.dzj.entity.statistics.sales.VIPCustomerLevelReport" parameterType="com.exx.dzj.entity.statistics.sales.VipCustomerQueryCondition">
        SELECT
            cs.cust_grade,
            cs.cust_code AS custCode, cs.cust_name AS custName,
            uinfo.real_name AS realName,
            cs.totalVolume AS saleVolume, cs.buyCount AS buyCount
        FROM tab_customer_supplier cs
       /* LEFT JOIN tab_sale_info sinfo ON cs.cust_code = sinfo.cust_code*/
        LEFT JOIN tab_user_info uinfo ON cs.user_code = uinfo.user_code
        WHERE cs.cust_type IN (1, 3)
        AND (cs.totalVolume >= 12000 OR cs.buyCount >= 5)
        AND cs.cust_code NOT REGEXP '^CB'
        <!--<if test="startDate != null and startDate != ''">
            AND  <![CDATA[sinfo.sale_date >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND  <![CDATA[sinfo.sale_date <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:59:59')]]>
        </if>-->
        <if test="userCode != null and userCode != ''">
            AND  cs.user_code=#{userCode}
        </if>
        <if test="custCode != null and custCode != ''">
            AND  cs.cust_code=#{custCode}
        </if>
        <if test="custName != null and custName!=''">
            AND cs.cust_name LIKE CONCAT('%', #{custName}, '%')
        </if>
        <if test="gradeCodeList != null and gradeCodeList.size() > 0">
            AND cs.grade_code IN
              <foreach collection="gradeCodeList" item="item" close=")" open="(" separator=",">
                  #{item}
              </foreach>
        </if>
        GROUP BY cs.cust_code
        ORDER BY cs.totalVolume DESC,cs.buyCount DESC
    </select>

    <select id="queryVipCustomerCount" resultType="com.exx.dzj.entity.statistics.sales.VipCustomerCountReport">
        SELECT
            IFNULL(cs.grade_code,'') AS gradeCode,
            cs.cust_grade AS custGrade,
            COUNT(cs.grade_code) AS `count`
        FROM tab_customer_supplier cs
        WHERE cs.cust_type IN (1, 3) AND cs.grade_code IS NOT NULL
        AND (cs.totalVolume >= 12000 OR cs.buyCount >= 5)
        AND cs.cust_code NOT REGEXP '^CB'
        GROUP BY cs.grade_code
    </select>

    <select id="querySalesTicketCount" resultMap="saleTicketTopMap" parameterType="com.exx.dzj.entity.market.SaleInfoQuery">
        SELECT
          u.real_name,s.salesman_code, IFNULL(COUNT(s.salesman_code), 0) AS countTicket
        FROM tab_sale_info s
        LEFT JOIN tab_user_info u ON s.user_code = u.user_code
        WHERE 1= 1
        <if test="startTime != null and startTime != ''">
            AND  <![CDATA[s.sale_date >= DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endTime != null and endTime != ''">
            AND  <![CDATA[s.sale_date <= DATE_FORMAT(#{endTime}, '%Y-%m-%d 23:59:59')]]>
        </if>
        <if test="userCode != null and userCode != ''">
            AND  s.user_code=#{userCode}
        </if>
        <if test="subordinateCompanyCode != null and subordinateCompanyCode != ''">
            AND  s.subordinate_company_code=#{subordinateCompanyCode}
        </if>
        AND s.salesman_code IS NOT NULL
        GROUP BY s.user_code
        ORDER BY countTicket DESC
    </select>

    <resultMap id="saleTicketTopMap" type="com.exx.dzj.entity.market.SaleInfo">
        <result column="real_name" property="realName"/>
        <result column="countTicket" property="countTicket"/>
        <result column="salesman_code" property="salesmanCode"/>
    </resultMap>

    <select id="querySalesmanInfo" resultType="com.exx.dzj.entity.statistics.sales.VIPCustomerLevelReport">
        select cs.user_code AS userCode,IFNULL(uinfo.real_name,'') AS realName from tab_customer_supplier cs
	      LEFT JOIN tab_user_info uinfo ON uinfo.user_code = cs.user_code
        where
          cs.cust_type IN (1, 3)
          and cs.user_code is not null GROUP BY cs.user_code
    </select>

    <select id="querySaleVipCustomerDetail" parameterType="string" resultType="com.exx.dzj.entity.statistics.sales.VIPCustomerLevelReport">
        select
            cs.cust_name AS custName,
            cs.cust_grade AS custGrade,
            cs.totalVolume 	AS saleVolume,
            cs.buyCount AS buyCount
        from tab_customer_supplier cs
                LEFT JOIN tab_user_info uinfo ON uinfo.user_code = cs.user_code
        where cs.user_code = #{userCode}
        and cs.cust_type IN (1, 3)
        AND (cs.totalVolume >= 12000 OR cs.buyCount >= 5)
    </select>
</mapper>