<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exx.dzj.mapper.statistics.sales.SaleTicketReportMapper">
    <select id="statisticsSaleByInventory" resultMap="stockTypeMap" parameterType="com.exx.dzj.entity.bean.StockInfoQuery">
      SELECT dict.dict_code, dict.dict_name, #{startDate} AS startDate, #{endDate} AS endDate, #{businessType} AS businessType FROM tab_dictionary_info dict
        WHERE dict.data_type='inventory_type'
          <if test="stockCode != null and stockCode != ''">
              AND dict.dict_code = #{stockCode}
          </if>
    </select>
    
    <resultMap id="stockTypeMap" type="com.exx.dzj.entity.statistics.sales.StockTypeReport">
        <result column="dict_code" property="stockTypeCode"/>
        <result column="dict_name" property="stockTypeName"/>
        <collection property="stockReportList" column="{startDate=startDate, endDate=endDate, dict_code=dict_code, businessType = businessType}" javaType="java.util.List" ofType="com.exx.dzj.entity.statistics.sales.StockInfoReport"
            select="com.exx.dzj.mapper.statistics.sales.SaleTicketReportMapper.queryStockReportList"/>
    </resultMap>
    
    <select id="queryStockReportList" parameterType="java.util.Map" resultMap="stockReportMap">
      SELECT a.stock_code, a.stock_name, a.meter_unit, b.standard_buy_price, #{startDate} AS startDate, #{endDate} AS endDate, #{businessType} AS businessType
        FROM (SELECT stock_code, stock_name, meter_unit  FROM tab_stock_info WHERE stock_class = #{dict_code}) a
        LEFT JOIN tab_stock_num_price b on a.stock_code = b.stock_code
        <!-- WHERE a.stock_class = #{dict_code} -->
    </select>
    
    <resultMap id="stockReportMap" type="com.exx.dzj.entity.statistics.sales.StockInfoReport">
        <result column="stock_code" property="stockCode" />
        <result column="stock_name" property="stockName" />
        <result column="meter_unit" property="meterUnit" />
        <result column="standard_buy_price" property="standardBuyPrice" />
        <collection column="{standard_buy_price=standard_buy_price, stock_code=stock_code, startDate=startDate, endDate=endDate, businessType = businessType}" property="saleInfoReports"
            ofType="com.exx.dzj.entity.statistics.sales.SaleGoodsReport" javaType="java.util.List"
            select="com.exx.dzj.mapper.statistics.sales.SaleTicketReportMapper.querySaleInfoReports"/>
    </resultMap>
    
    <select id="querySaleInfoReports" parameterType="java.util.Map" resultMap="saleGoodsMap">
      SELECT userinfo.salesman_code, userinfo.real_name, a.sale_code, a.create_time, a.cust_code, c.cust_name, b.stock_address, b.goods_num, b.unit_price, b.sales_volume, <!-- 销售额 -->
        <!-- 进价 --> #{standard_buy_price} AS standardBuyPrice,
        <!--&lt;!&ndash; 成本 --> b.goods_num * #{standard_buy_price} AS cost,
        <!-- 销售收入 --> b.goods_num * b.unit_price AS saleIncome,
        <!-- 毛利 --> (b.goods_num * b.unit_price) - (b.goods_num * #{standard_buy_price}) AS grossMargin,
        <!-- 毛利率 --> IFNULL(CONVERT((b.goods_num * (b.unit_price - #{standard_buy_price})) / (b.goods_num * b.unit_price), DECIMAL(10, 5)), 0.00) * 100 AS grossRate
        FROM (SELECT aa.sale_code, aa.create_time, aa.cust_code, aa.salesman_code FROM tab_sale_info aa
          WHERE aa.sale_ticket_type = #{businessType} AND aa.create_time BETWEEN #{startDate} AND #{endDate}) a
        INNER JOIN tab_sale_goods_detail b ON a.sale_code = b.sale_code AND b.stock_code = #{stock_code}
        LEFT JOIN tab_customer_supplier c ON a.cust_code = c.cust_code AND c.cust_type = 1
        LEFT JOIN tab_user_info userinfo ON a.salesman_code = userinfo.salesman_code
        <!--WHERE a.create_time BETWEEN #{startDate} and #{endDate}-->

    </select>

    <resultMap id="saleGoodsMap" type="com.exx.dzj.entity.statistics.sales.SaleGoodsReport">
        <result column="cost" property="cost" />
        <result column="salesman_code" property="salesmanCode" />
        <result column="real_name" property="realName" />
        <result column="grossMargin" property="grossMargin" />
        <result column="grossRate" property="grossRate" />
        <result column="standardBuyPrice" property="standardBuyPrice" />
        <result column="saleIncome" property="saleIncome" />
        <result column="sale_code" property="saleCode" />
        <result column="create_time" property="createTime" />
        <result column="cust_code" property="custCode" />
        <result column="cust_name" property="custName" />
        <result column="stock_address" property="stockAddress" />
        <result column="goods_num" property="goodsNum" />
        <result column="unit_price" property="unitPrice" />
        <result column="sales_volume" property="salesVolume" />
    </resultMap>

    <!-- 销售单-依销售 -->
    <select id="statisticsSaleBySalesMan" parameterType="com.exx.dzj.entity.bean.UserInfoQuery" resultMap="userReportMap">
      SELECT user_code, salesman_code, real_name, #{startDate} AS startDate, #{endDate} AS endDate, #{businessType} AS businessType
        FROM  tab_user_info
        WHERE 1=1
          <if test="userCodeList != null">
            AND user_code IN
            <foreach collection="userCodeList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
          </if>
    </select>
    
    <resultMap id="userReportMap" type="com.exx.dzj.entity.statistics.sales.UserInfoReport">
        <result column="user_code" property="userCode"/>
        <result column="salesman_code" property="salesmanCode"/>
        <result column="real_name" property="realName"/>
        <collection property="saleInfoList" column="user_code = user_code,startDate=startDate, endDate=endDate, businessType=businessType"
                    javaType="java.util.List" ofType="com.exx.dzj.entity.statistics.sales.SaleInfoReport"
                    select="selectSaleInfoByUserCode"/>
    </resultMap>
    
    <select id="selectSaleInfoByUserCode" resultMap="saleInfoReportMap">
      SELECT si.create_time,
        cs.cust_code,
        cs.cust_name,
        IFNULL((SELECT SUM(collected_amount) FROM tab_sale_receipts_details A WHERE si.sale_code = A.sale_code), 0) AS collected_amount_total, <!-- 回款额 -->
        si.sale_code
      FROM tab_sale_info si
      LEFT JOIN tab_customer_supplier cs ON cs.cust_code = si.cust_code
      WHERE 1 = 1
        <if test="user_code != null">
            AND si.user_code = #{user_code}
        </if>
        AND si.create_time BETWEEN #{startDate} AND #{endDate}
        AND si.sale_ticket_type = #{businessType}
    </select>
    
    <resultMap id="saleInfoReportMap" type="com.exx.dzj.entity.statistics.sales.SaleInfoReport">
        <result column="create_time" property="createTime"/>
        <result column="sale_code" property="saleCode"/>
        <result column="cust_code" property="custCode"/>
        <result column="cust_name" property="custName"/>
        <result column="collected_amount_total" property="collectedAmountTotal"/>
        <collection property="saleGoodsReportList" column="sale_code=sale_code" javaType="java.util.List"
                    ofType="com.exx.dzj.entity.statistics.sales.SaleGoodsReport"
                    select="selectSaleGoodsReportBySaleCode"/>
    </resultMap>
    
    <select id="selectSaleGoodsReportBySaleCode" resultMap="saleGoodsReportMap">
        SELECT saleGoods.stock_name, saleGoods.goods_num, saleGoods.unit_price, stockDetail.standard_sell_price,
            saleGoods.sales_volume, stockDetail.standard_buy_price, saleGoods.goods_num * stockDetail.standard_buy_price AS cost,
            (saleGoods.unit_price - stockDetail.standard_buy_price) * saleGoods.goods_num  AS grossMargin,
            IFNULL(CONVERT(((saleGoods.unit_price - stockDetail.standard_buy_price) * saleGoods.goods_num) / saleGoods.sales_volume, DECIMAL(10, 5)), 0.00) * 100 AS grossRate
        FROM tab_sale_goods_detail saleGoods
        LEFT JOIN tab_stock_num_price stockDetail ON saleGoods.stock_code = stockDetail.stock_code
        WHERE saleGoods.sale_code = #{sale_code}
    </select>
    
    <resultMap id="saleGoodsReportMap" type="com.exx.dzj.entity.statistics.sales.SaleGoodsReport">
        <result column="stock_name" property="stockName"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="unit_price" property="unitPrice"/>
        <!--<result column="standard_sell_price" property="standard"/>-->
        <result column="sales_volume" property="salesVolume"/>
        <result column="standard_buy_price" property="standardBuyPrice"/>
        <result column="cost" property="cost"/>
        <result column="grossMargin" property="grossMargin"/>
        <result column="grossRate" property="grossRate"/>
    </resultMap>

    <!-- 销售单分析依客户 -->
    <select id="querySalesTicketByCust"  parameterType="com.exx.dzj.entity.bean.CustomerQuery" resultMap="customerReportMap">
        SELECT cs.cust_code, cs.cust_name,
          #{startDate} AS startDate, #{endDate} AS endDate, #{businessType} AS businessType
        FROM tab_customer_supplier cs
          WHERE 1 = 1
          AND cust_type IN (#{custType}, 3)
          <if test="fromCustId != null">
              AND <![CDATA[cs.id >= #{fromCustId} ]]>
          </if>
          <if test="toCustId != null">
            AND  <![CDATA[cs.id <= #{toCustId} ]]>
          </if>
    </select>
    
    <resultMap id="customerReportMap" type="com.exx.dzj.entity.statistics.sales.CustomerReport">
        <result column="cust_code" property="custCode"/>
        <result column="cust_name" property="custName"/>
        <collection property="saleInfoReportList" column="cust_code=cust_code, startDate=startDate, endDate = endDate, businessType=businessType"
                    javaType="java.util.List" ofType="com.exx.dzj.entity.statistics.sales.SaleInfoReport"
                    select="selectSaleInfoByCustCode"/>
    </resultMap>

    <select id="selectSaleInfoByCustCode" resultMap="saleInfoReportMapForCust">
        SELECT si.create_time,
        si.sale_code
        FROM tab_sale_info si
        WHERE 1 = 1
        <if test="cust_code != null">
            AND si.cust_code = #{cust_code}
        </if>
        AND si.create_time BETWEEN #{startDate} AND #{endDate}
        AND si.sale_ticket_type = #{businessType}
    </select>

    <resultMap id="saleInfoReportMapForCust" type="com.exx.dzj.entity.statistics.sales.SaleInfoReport">
        <result column="create_time" property="createTime"/>
        <result column="sale_code" property="saleCode"/>
        <collection property="saleGoodsReportList" column="sale_code=sale_code" javaType="java.util.List"
                    ofType="com.exx.dzj.entity.statistics.sales.SaleGoodsReport"
                    select="selectSaleGoodsReportBySaleCode"/>
    </resultMap>

    <!-- 销售员提成汇总统计 -->
    <select id="querySalesDeductionBySaleman" parameterType="com.exx.dzj.entity.bean.UserInfoQuery" resultType="com.exx.dzj.entity.statistics.sales.SaleDeductionReport">
      SELECT
        ui.user_code AS userCode,
        SUM(si.receivable_accoun) AS sumSaleVolume,  /*销售额, 总金额-优惠金额*/
        SUM(sg.goods_num) AS sumGoodsNum, /*数量*/
        SUM(sg.goods_num * sg.unit_price) AS sumSaleCost,  /*成本*/
        SUM(si.receivable_accoun - sg.goods_num * sg.unit_price) AS sumGrossMargin, /*毛利*/
        CONVERT(SUM(si.receivable_accoun - sg.goods_num * sg.unit_price) / SUM(si.receivable_accoun),DECIMAL(10, 4)) * 100 AS grossRate,
        SUM(sg1.goods_num) AS sumCost, /*额外支出费用*/
        SUM(si.receivable_accoun) - SUM(sg1.goods_num) AS pureProfit,
        ui.commission_rate AS commissionRate, /*佣金率*/
        IFNULL(ui.commission_rate * SUM(si.receivable_accoun), 0) / 100 AS commission, /*佣金*/
        ui.real_name AS realName
        FROM
        tab_sale_info si
        LEFT JOIN tab_user_info ui ON ui.user_code = si.user_code
        inner JOIN tab_sale_goods_detail sg ON si.sale_code = sg.sale_code
        inner JOIN tab_sale_goods_detail sg1 ON si.sale_code = sg1.sale_code AND sg1.stock_code REGEXP '^cb'
        LEFT JOIN tab_sale_receipts_details sr ON si.sale_code = sr.sale_code
        WHERE 1 =1
	  <if test="userCodeList != null">
          AND si.user_code IN
          <foreach collection="userCodeList" separator="," open="(" close=")" item="item">
            #{item}
          </foreach>
      </if>
      AND si.create_time BETWEEN #{startDate} AND #{endDate}
      <if test="paymentStatu == '1'" >
          AND si.payment_status = 'cs03'
      </if>
      AND si.sale_ticket_type = #{businessType}
      GROUP BY si.user_code
    </select>
    
    <select id="selectionDeptInfo" resultMap="deptMap">
      SELECT id, dept_code, dept_name, parent_code
      FROM tab_dept_info
      WHERE 1=1 AND parent_code = #{parentCode} AND is_enable = 1
    </select>
    
    <resultMap id="deptMap" type="com.exx.dzj.entity.statistics.sales.DeptSaleReport">
        <result column="id" property="id" />
        <result column="dept_code" property="deptCode" />
        <result column="dept_name" property="deptName" />
        <result column="parent_code" property="parentCode" />
        <collection property="childrenList" javaType="java.util.List" ofType="com.exx.dzj.entity.statistics.sales.DeptSaleReport"
                    column="deptCode=dept_code" select="selectionDeptInfoChildren"/>
    </resultMap>

    <select id="selectionDeptInfoChildren" resultMap="deptMap">
        SELECT id, dept_code, dept_name, parent_code
        FROM tab_dept_info
        WHERE 1=1 AND parent_code = #{deptCode} AND is_enable = 1
    </select>
    
    <select id="queryDeptSaleReport" parameterType="com.exx.dzj.entity.bean.DeptInfoQuery" resultMap="deptReprotMap">
        SELECT
            dept.id, dept.dept_code, dept.dept_name,dept.parent_code,
            IFNULL(sum(ss.sumSaleVolume), 0) AS sumSaleVolume,/*销售额, 总金额-优惠金额*/
            IFNULL(sum(ss.sumSaleCost), 0) AS sumSaleCost,/*成本*/
            IFNULL(sum(ss.sumGrossMargin), 0) AS sumGrossMargin,/*毛利*/
            IFNULL(sum(ss.sumCost), 0) AS sumCost, /*额外支出费用*/
            IFNULL(sum(ss.pureProfit), 0) AS pureProfit,/*纯利润*/
            IFNULL(sum(ss.commission), 0) AS commission/*佣金*/
        FROM
          tab_dept_info dept
        LEFT JOIN
            (SELECT
                ui.user_code AS userCode,
                ui.dept_code AS deptCode,
                SUM(si.receivable_accoun) AS sumSaleVolume,  /*销售额, 总金额-优惠金额*/
                SUM(sg.goods_num * sg.unit_price) AS sumSaleCost,  /*成本*/
                SUM(si.receivable_accoun - sg.goods_num * sg.unit_price) AS sumGrossMargin, /*毛利*/
                SUM(sg1.goods_num) AS sumCost, /*额外支出费用*/
                SUM(si.receivable_accoun) - SUM(sg1.goods_num) AS pureProfit,/*纯利润*/
                IFNULL(ui.commission_rate * SUM(si.receivable_accoun), 0) / 100 AS commission, /*佣金*/
                ui.real_name AS realName
            FROM
              tab_sale_info si
            LEFT JOIN tab_user_info ui ON ui.user_code = si.user_code
            INNER JOIN tab_sale_goods_detail sg ON si.sale_code = sg.sale_code
            INNER JOIN tab_sale_goods_detail sg1 ON si.sale_code = sg1.sale_code AND sg1.stock_code REGEXP '^cb'
            LEFT JOIN tab_sale_receipts_details sr ON si.sale_code = sr.sale_code
            WHERE 1 =1 GROUP BY si.user_code) ss ON dept.dept_code = ss.deptCode
        WHERE dept.is_enable = 1
            <if test="deptCodeList != null">
                AND dept.dept_code IN
                <foreach collection="deptCodeList" item="item" open="(" close=")" separator=",">
                  #{item}
                </foreach>
            </if>
        GROUP BY dept.dept_code
    </select>
    
    <resultMap id="deptReprotMap" type="com.exx.dzj.entity.statistics.sales.DeptSaleReport">
        <result column="id" property="id"/>
        <result column="dept_code" property="deptCode"/>
        <result column="dept_name" property="deptName"/>
        <result column="parent_code" property="parentCode"/>
        <result column="sumSaleVolume" property="sumSaleVolume"/>
        <result column="sumSaleCost" property="sumSaleCost"/>
        <result column="sumGrossMargin" property="sumGrossMargin"/>
        <result column="sumCost" property="sumCost"/>
        <result column="pureProfit" property="pureProfit"/>
        <result column="commission" property="commission"/>
    </resultMap>

    <select id="queryStasticsSalesForYear" resultMap="salesMapForYear">
        SELECT
          YEAR(sale_date) AS `year`,MONTH(sale_date) AS `month`, SUM(receivable_accoun) AS sum_receivable_accoun
        FROM tab_sale_info
            GROUP BY YEAR (sale_date), MONTH (sale_date)
            ORDER BY YEAR(sale_date);
    </select>
    <resultMap id="salesMapForYear" type="com.exx.dzj.entity.statistics.sales.HomePageReport">
        <result column="month" property="month"/>
        <result column="sum_receivable_accoun" property="sumReceivableAccoun"/>
    </resultMap>

    <select id="queryStasticsSalesForMonth" resultMap="salesMapForMomth">
        SELECT DAY(sale_date) AS `day`, SUM(receivable_accoun)  AS sum_receivable_accoun
        FROM tab_sale_info
        WHERE MONTH(sale_date) = MONTH(sysdate())
        GROUP BY DAY(sale_date);
    </select>
    
    <resultMap id="salesMapForMomth" type="com.exx.dzj.entity.statistics.sales.HomePageReport">
        <result column="day" property="day"/>
        <result column="sum_receivable_accoun" property="sumReceivableAccoun"/>
    </resultMap>
</mapper>