<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exx.dzj.mapper.stock.StockInfoMapper">

  <resultMap id="BaseResultMap" type="com.exx.dzj.entity.stock.StockInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="nature" jdbcType="VARCHAR" property="nature" />
    <result column="stock_name" jdbcType="VARCHAR" property="stockName" />
    <result column="specificate_type" jdbcType="VARCHAR" property="specificateType" />
    <result column="stock_class" jdbcType="VARCHAR" property="stockClass" />
    <result column="stock_class_name" jdbcType="VARCHAR" property="stockClassName" />
    <result column="stock_address" jdbcType="VARCHAR" property="stockAddress" />
    <result column="meter_unit" jdbcType="VARCHAR" property="meterUnit" />
    <result column="pictures" jdbcType="VARCHAR" property="pictures" />
    <result column="bar_code" jdbcType="VARCHAR" property="barCode" />
    <result column="is_shelves" jdbcType="VARCHAR" property="isShelves" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
    <result column="is_comm_sale" jdbcType="INTEGER" property="isCommSale" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, stock_code, nature, stock_name, specificate_type, stock_class, stock_class_name, stock_address,
    meter_unit, pictures, bar_code, is_shelves, is_enable, is_comm_sale, create_time, create_user,
    update_time, update_user
  </sql>

  <select id="selectByExample" parameterType="com.exx.dzj.entity.stock.StockInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_stock_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_stock_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_stock_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByExample" parameterType="com.exx.dzj.entity.stock.StockInfoExample">
    delete from tab_stock_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.exx.dzj.entity.stock.StockInfo">
    insert into tab_stock_info (stock_code, nature,
      stock_name, specificate_type, stock_class, stock_class_name,
      stock_address, meter_unit, pictures, 
      bar_code, is_shelves, is_enable, is_comm_sale,
      create_time, create_user, update_time, 
      update_user)
    values (#{stockCode,jdbcType=VARCHAR}, #{nature,jdbcType=VARCHAR},
      #{stockName,jdbcType=VARCHAR}, #{specificateType,jdbcType=VARCHAR}, #{stockClass,jdbcType=VARCHAR}, #{stockClassName,jdbcType=VARCHAR},
      #{stockAddress,jdbcType=VARCHAR}, #{meterUnit,jdbcType=VARCHAR}, #{pictures,jdbcType=VARCHAR}, 
      #{barCode,jdbcType=VARCHAR}, #{isShelves,jdbcType=INTEGER}, #{isEnable,jdbcType=INTEGER}, #{isCommSale,jdbcType=INTEGER},
      SYSDATE(), #{createUser,jdbcType=VARCHAR}, SYSDATE(),
      #{updateUser,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.exx.dzj.entity.stock.StockInfo">
    insert into tab_stock_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="nature != null">
        nature,
      </if>
      <if test="stockName != null">
        stock_name,
      </if>
      <if test="specificateType != null">
        specificate_type,
      </if>
      <if test="stockClass != null">
        stock_class,
      </if>
      <if test="stockClassName != null">
        stock_class_name,
      </if>
      <if test="stockAddress != null">
        stock_address,
      </if>
      <if test="meterUnit != null">
        meter_unit,
      </if>
      <if test="pictures != null">
        pictures,
      </if>
      <if test="barCode != null">
        bar_code,
      </if>
      <if test="isShelves != null">
        is_shelves,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
      <if test="isCommSale != null">
        is_comm_sale,
      </if>
        create_time,
      <if test="createUser != null">
        create_user,
      </if>
        update_time,
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="nature != null">
        #{nature,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null">
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="specificateType != null">
        #{specificateType,jdbcType=VARCHAR},
      </if>
      <if test="stockClass != null">
        #{stockClass,jdbcType=VARCHAR},
      </if>
      <if test="stockClassName != null">
        #{stockClassName,jdbcType=VARCHAR},
      </if>
      <if test="stockAddress != null">
        #{stockAddress,jdbcType=VARCHAR},
      </if>
      <if test="meterUnit != null">
        #{meterUnit,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null">
        #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null">
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="isShelves != null">
        #{isShelves,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="isCommSale != null">
        #{isCommSale,jdbcType=INTEGER},
      </if>
        SYSDATE(),
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
        SYSDATE(),
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.exx.dzj.entity.stock.StockInfoExample" resultType="java.lang.Long">
    select count(*) from tab_stock_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update tab_stock_info
    <set>
      <if test="record.nature != null">
        nature = #{record.nature,jdbcType=VARCHAR},
      </if>
      <if test="record.stockName != null">
        stock_name = #{record.stockName,jdbcType=VARCHAR},
      </if>
      <if test="record.specificateType != null">
        specificate_type = #{record.specificateType,jdbcType=VARCHAR},
      </if>
      <if test="record.stockClass != null">
        stock_class = #{record.stockClass,jdbcType=VARCHAR},
      </if>
      <if test="record.stockClassName != null">
        stock_class = #{record.stockClassName,jdbcType=VARCHAR},
      </if>
      <if test="record.stockAddress != null">
        stock_address = #{record.stockAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.meterUnit != null">
        meter_unit = #{record.meterUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.pictures != null">
        pictures = #{record.pictures,jdbcType=VARCHAR},
      </if>
      <if test="record.barCode != null">
        bar_code = #{record.barCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isEnable != null">
        is_enable = #{record.isEnable,jdbcType=INTEGER},
      </if>
      <if test="record.isCommSale != null">
        is_comm_sale = #{record.isCommSale,jdbcType=INTEGER},
      </if>
        update_time = SYSDATE(),
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map">
    update tab_stock_info
    set nature = #{record.nature,jdbcType=VARCHAR},
      stock_name = #{record.stockName,jdbcType=VARCHAR},
      specificate_type = #{record.specificateType,jdbcType=VARCHAR},
      stock_class = #{record.stockClass,jdbcType=VARCHAR},
      stock_class_name = #{record.stockClassName,jdbcType=VARCHAR},
      stock_address = #{record.stockAddress,jdbcType=VARCHAR},
      meter_unit = #{record.meterUnit,jdbcType=VARCHAR},
      pictures = #{record.pictures,jdbcType=VARCHAR},
      bar_code = #{record.barCode,jdbcType=VARCHAR},
      is_shelves = #{record.isShelves,jdbcType=INTEGER},
      is_enable = #{record.isEnable,jdbcType=INTEGER},
      is_comm_sale = #{record.isCommSale,jdbcType=INTEGER},
      update_time = SYSDATE(),
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.exx.dzj.entity.stock.StockInfo">
    update tab_stock_info
    <set>
      <if test="nature != null">
        nature = #{nature,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null">
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="specificateType != null">
        specificate_type = #{specificateType,jdbcType=VARCHAR},
      </if>
      <if test="stockClass != null">
        stock_class = #{stockClass,jdbcType=VARCHAR},
      </if>
      <if test="stockClassName != null">
        stock_class_name = #{stockClassName,jdbcType=VARCHAR},
      </if>
      <if test="stockAddress != null">
        stock_address = #{stockAddress,jdbcType=VARCHAR},
      </if>
      <if test="meterUnit != null">
        meter_unit = #{meterUnit,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null">
        pictures = #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null">
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="isShelves != null">
        is_shelves = #{isShelves,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null">
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="isCommSale != null">
        is_comm_sale = #{isCommSale,jdbcType=INTEGER},
      </if>
        update_time = SYSDATE(),
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where stock_code = #{stockCode,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.exx.dzj.entity.stock.StockInfo">
    update tab_stock_info
    set nature = #{nature,jdbcType=VARCHAR},
      stock_name = #{stockName,jdbcType=VARCHAR},
      specificate_type = #{specificateType,jdbcType=VARCHAR},
      stock_class = #{stockClass,jdbcType=VARCHAR},
      stock_class_name = #{stockClassName,jdbcType=VARCHAR},
      stock_address = #{stockAddress,jdbcType=VARCHAR},
      meter_unit = #{meterUnit,jdbcType=VARCHAR},
      pictures = #{pictures,jdbcType=VARCHAR},
      bar_code = #{barCode,jdbcType=VARCHAR},
      is_shelves = #{isShelves,jdbcType=INTEGER},
      is_enable = #{isEnable,jdbcType=INTEGER},
      is_comm_sale = #{isCommSale,jdbcType=INTEGER},
      update_time = SYSDATE(),
      update_user = #{updateUser,jdbcType=VARCHAR}
    where stock_code = #{stockCode,jdbcType=VARCHAR}
  </update>

  <!-- ********************************* -->

  <!-- 查询存货列表数据 -->
  <select id="queryStockList" resultType="com.exx.dzj.entity.stock.StockModel"
          parameterType="com.exx.dzj.entity.stock.StockQuery">
    SELECT
      ti.stock_code stockCode,
      ti.stock_address stockAddress,
      DICTINFO.dict_name warehouseName,
      concat_ws(
          '/',
          ti.stock_name,
          ti.specificate_type
      ) stockNameForSpe,
      ti.stock_class_name stockClassName,
      sn.standard_buy_price standardBuyPrice,
      sn.standard_sell_price standardSellPrice,
      CASE
    WHEN ti.nature = '1' THEN
        '原材料'
    WHEN ti.nature = '2' THEN
        '在产品'
    WHEN ti.nature = '3' THEN
        '产成品'
    WHEN ti.nature = '4' THEN
        '服务项目'
    ELSE
        '未知'
    END natureName,
        ti.is_shelves isShelves,
      CASE
    WHEN ti.is_shelves = 1 THEN
      '上架'
    WHEN ti.is_shelves = 0 THEN
      '下架'
    ELSE
      '未知'
    END shelvesName
    FROM
      tab_stock_info ti
    LEFT JOIN tab_stock_num_price sn ON ti.stock_code = sn.stock_code
    LEFT JOIN tab_dictionary_info DICTINFO ON DICTINFO.dict_code=ti.stock_address AND DICTINFO.data_type='inventory_ship_address'
    WHERE ti.is_enable = 1
    <if test="stockName!=null and stockName!=''">
      AND ti.stock_name LIKE CONCAT('%', #{stockName}, '%')
    </if>
    <if test="specificateType!=null and specificateType!=''">
      AND ti.specificate_type LIKE CONCAT('%', #{specificateType}, '%')
    </if>
    <if test="stockClass!=null and stockClass!=''">
      AND ti.stock_class = #{stockClass}
    </if>
    ORDER BY ti.create_time DESC
  </select>

  <!-- SQL 片段 -->
  <sql id="QueryStockInfoSql">
    SELECT
      ti.stock_code stockCode,
      ti.nature,
      ti.stock_name stockName,
      ti.specificate_type specificateType,
      ti.stock_class stockClass,
      ti.stock_address stockAddress,
      ti.meter_unit meterUnit,
      ti.pictures,
      ti.bar_code barCode,
      ti.is_comm_sale isCommSale,
      sn.standard_buy_price standardBuyPrice,
      sn.standard_sell_price standardSellPrice,
      sn.max_purchase_price maxPurchasePrice,
      sn.min_sell_price minSellPrice,
      sn.min_inventory minInventory
    FROM
        tab_stock_info ti
    LEFT JOIN tab_stock_num_price sn ON ti.stock_code = sn.stock_code
    WHERE 1 = 1
  </sql>

  <!-- 查询存货详细信息 -->
  <select id="queryStockInfo" resultType="com.exx.dzj.entity.stock.StockBean">
    <include refid="QueryStockInfoSql"/>
    AND ti.stock_code = #{stockCode}
  </select>

  <!-- 上架、下架 或 删除 -->
  <update id="shelvesStock">
    update tab_stock_info
    <set>
      <if test="isShelves != null">
        is_shelves = #{isShelves},
      </if>
      <if test="isEnable != null">
        is_enable = #{isEnable},
      </if>
      <if test="userCode!=null and userCode!=''">
        update_user = #{userCode},
      </if>
    </set>
    <choose>
      <when test="stockCodes!=null">
        where stock_code in
        <foreach collection="stockCodes" item="item" open="(" close=")" separator=",">#{item}</foreach>
      </when>
      <otherwise>
        where stock_code = null
      </otherwise>
    </choose>
  </update>
  
  <insert id="batchInsertStockInfo">
    INSERT INTO tab_stock_info
      (stock_code, nature, stock_name, specificate_type, stock_class, stock_class_name, stock_address, meter_unit, pictures,
        bar_code, is_shelves, is_enable, is_comm_sale, create_user, update_user, create_time, update_time)
    VALUES 
    <foreach collection="list" item="item" separator=",">
      (#{item.stockCode}, #{item.nature}, #{item.stockName}, #{item.specificateType}, #{item.stockClass}, #{item.stockClassName}, #{item.stockAddress}, #{item.meterUnit}, #{item.pictures},
      #{item.barCode}, #{item.isShelves}, #{item.isEnable}, #{item.isCommSale}, #{item.createUser}, #{item.updateUser}, #{item.createTime}, #{item.updateTime})
    </foreach>
  </insert>

  <insert id="batchInsertStockNumPrice">
    INSERT INTO tab_stock_num_price
      (stock_code, standard_buy_price, standard_sell_price, max_purchase_price, min_sell_price, min_inventory, is_enable, create_time, create_user, update_time, update_user)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.stockCode}, #{item.standardBuyPrice}, #{item.standardSellPrice}, #{item.maxPurchasePrice}, #{item.minSellPrice}, #{item.minInventory}, #{item.isEnable}, #{item.createTime}, #{item.createUser}, #{item.updateTime}, #{item.updateUser})
    </foreach>
  </insert>
</mapper>