<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exx.dzj.mapper.user.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.exx.dzj.entity.user.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="salesman_code" jdbcType="VARCHAR" property="salesmanCode" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="is_quit" jdbcType="INTEGER" property="isQuit" />
    <result column="login_status" jdbcType="INTEGER" property="loginStatus" />
    <result column="last_signin_time" jdbcType="TIMESTAMP" property="lastSigninTime" />
    <result column="last_signout_time" jdbcType="TIMESTAMP" property="lastSignoutTime" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
  </resultMap>

  <resultMap id="UserBaseResultMap" type="com.exx.dzj.entity.user.UserVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="salesman_code" jdbcType="VARCHAR" property="salesmanCode" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="is_quit" jdbcType="INTEGER" property="isQuit" />
    <result column="login_status" jdbcType="INTEGER" property="loginStatus" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, user_code, user_name, pass_word, real_name, dept_code, salesman_code, head_img, 
    phone_num, email, is_quit, login_status, last_signin_time, last_signout_time, birthday, gender
  </sql>

  <select id="selectByExample" parameterType="com.exx.dzj.entity.user.UserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_user_info
    where user_code = #{userCode,jdbcType=VARCHAR}
  </select>

  <insert id="insertSelective" parameterType="com.exx.dzj.entity.user.UserInfo">
    insert into tab_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userCode != null and userCode!=''">
        user_code,
      </if>
      <if test="userName != null and userName!=''">
        user_name,
      </if>
      <if test="passWord != null and passWord!=''">
        pass_word,
      </if>
      <if test="realName != null and realName!=''">
        real_name,
      </if>
      <if test="deptCode != null and deptCode!=''">
        dept_code,
      </if>
      <if test="orgCode != null and orgCode!=''">
        org_code,
      </if>
      <if test="salesmanCode != null and salesmanCode!=''">
        salesman_code,
      </if>
      <if test="headImg != null and headImg!=''">
        head_img,
      </if>
      <if test="phoneNum != null and phoneNum!=''">
        phone_num,
      </if>
      <if test="email != null and email!=''">
        email,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="gender != null">
        gender,
      </if>
      create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userCode != null and userCode!=''">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null and userName!=''">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null and passWord!=''">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="realName != null and realName!=''">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null and deptCode!=''">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null and orgCode!=''">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="salesmanCode != null and salesmanCode!=''">
        #{salesmanCode,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null and headImg!=''">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null and phoneNum!=''">
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email!=''">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      SYSDATE(),
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.exx.dzj.entity.user.UserInfoExample" resultType="java.lang.Long">
    select count(*) from tab_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update tab_user_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userCode != null">
        user_code = #{record.userCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.passWord != null">
        pass_word = #{record.passWord,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null">
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptCode != null">
        dept_code = #{record.deptCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null">
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.salesmanCode != null">
        salesman_code = #{record.salesmanCode,jdbcType=VARCHAR},
      </if>
      <if test="record.headImg != null">
        head_img = #{record.headImg,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNum != null">
        phone_num = #{record.phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.isQuit != null">
        is_quit = #{record.isQuit,jdbcType=INTEGER},
      </if>
      <if test="record.loginStatus != null">
        login_status = #{record.loginStatus,jdbcType=INTEGER},
      </if>
      <if test="record.lastSigninTime != null">
        last_signin_time = #{record.lastSigninTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastSignoutTime != null">
        last_signout_time = #{record.lastSignoutTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.exx.dzj.entity.user.UserInfo">
    update tab_user_info
    <set>
      <if test="userName != null and userName!=''">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null and passWord!=''">
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="realName != null and realName!=''">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null and deptCode!=''">
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null and orgCode!=''">
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="salesmanCode != null and salesmanCode!=''">
        salesman_code = #{salesmanCode,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null and headImg!=''">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null and phoneNum!=''">
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email!=''">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="isQuit != null">
        is_quit = #{isQuit,jdbcType=INTEGER},
      </if>
    </set>
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="userCode != null">
        and user_code = #{userCode, jdbcType=VARCHAR}
      </if>
    </where>
  </update>

  <!-- 查询 用户(业务员)数据 -->
  <select id="querySalesman" resultType="com.exx.dzj.entity.user.UserInfo">
    <![CDATA[
    SELECT
        user_code userCode,
        salesman_code salesmanCode,
        real_name AS userName,
        CASE
          WHEN ui.is_quit = 0 THEN CONCAT('L',ui.salesman_code)
          ELSE ui.salesman_code
          END  salesmanCode2,
        IFNULL(real_name,'') realName
    FROM
        tab_user_info ui
    WHERE
        /*ui.is_quit = 1 and */
        salesman_code IS NOT NULL and length(salesman_code) > 0
    ]]>
  </select>
  <select id="querySalesman2" resultType="com.exx.dzj.entity.user.UserInfo">
    <![CDATA[
    SELECT
        user_code userCode,
        salesman_code salesmanCode,
        real_name AS userName,
        CASE
          WHEN ui.is_quit = 0 THEN CONCAT('L',ui.salesman_code)
          ELSE ui.salesman_code
          END  salesmanCode2,
        IFNULL(real_name,'') realName
    FROM
        tab_user_info ui
    WHERE
        ui.is_quit = 1 and
        salesman_code IS NOT NULL and length(salesman_code) > 0
    ]]>
  </select>

  <!-- 查询公司员工列表数据 -->
  <select id="queryUserList" resultType="com.exx.dzj.entity.user.UserModel">
    SELECT
        tu.user_code userCode,
        tu.user_name userName,
        tu.real_name realName,
        tu.salesman_code salesmanCode,
        tu.head_img headImg,
        tu.phone_num phoneNum,
        td.dept_name deptName,
        tu.email,
        CASE
    WHEN tu.gender = 0 THEN
        '女'
    WHEN tu.gender = 1 THEN
        '男'
    ELSE
        '保密'
    END genderName,
     tu.is_quit isQuit,
     CASE
    WHEN tu.is_quit = 1 THEN
        '在职'
    WHEN tu.is_quit = 0 THEN
        '离职'
    ELSE
        '未知'
    END quitDesc
    FROM
        tab_user_info tu
    LEFT JOIN tab_dept_info td ON tu.dept_code = td.dept_code
    WHERE 1 = 1
    <if test="userName != null and userName!=''">
      and tu.user_name like concat(#{userName}, '%')
    </if>
    <if test="realName != null and realName!=''">
      and tu.real_name like concat(#{realName}, '%')
    </if>
    <if test="salesmanCode != null and salesmanCode!=''">
      and tu.salesman_code = #{salesmanCode}
    </if>
    <if test="isQuit != null">
      and tu.is_quit = #{isQuit}
    </if>
    ORDER BY tu.is_quit DESC
  </select>
  
  <select id="queryList" resultType="com.exx.dzj.entity.user.UserModel">
    SELECT
    tu.user_code userCode,
    tu.user_name userName,
    tu.real_name realName,
    case when tu.is_quit = 0 then concat('L', tu.salesman_code)
      else tu.salesman_code
      end salesmanCode,
    tu.head_img headImg,
    tu.phone_num phoneNum,
    td.dept_name deptName,
    tu.email,
    CASE
    WHEN tu.gender = 0 THEN
    '女'
    WHEN tu.gender = 1 THEN
    '男'
    ELSE
    '保密'
    END genderName,
    tu.is_quit isQuit,
    CASE
    WHEN tu.is_quit = 1 THEN
    '在职'
    WHEN tu.is_quit = 0 THEN
    '离职'
    ELSE
    '未知'
    END quitDesc
    FROM
    tab_user_info tu
    LEFT JOIN tab_dept_info td ON tu.dept_code = td.dept_code
    <where>
      ${ew.sqlSegment}
    </where>
    ORDER BY tu.is_quit DESC
  </select>

  <select id="queryUserInfo" parameterType="com.exx.dzj.entity.user.UserInfo" resultMap="UserBaseResultMap">
    <include refid="QueryUserInfoSQL"/>
    <if test="userCode != null and userCode!=''">
      and tb.user_code = #{userCode,jdbcType=VARCHAR}
    </if>
    <if test="userName != null and userName!=''">
      and tb.user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="passWord != null and passWord!=''">
      and tb.pass_word = #{passWord,jdbcType=VARCHAR}
    </if>
    AND tb.is_quit = 1
  </select>

  <sql id="QueryUserInfoSQL">
    SELECT
      tb.user_code userCode,
      tb.user_name userName,
      tb.pass_word passWord,
      tb.real_name realName,
      tb.dept_code deptCode,
      td.dept_name deptName,
      td.org_code orgCode,
      tb.salesman_code salesmanCode,
      tb.head_img headImg,
      tb.phone_num phoneNum,
      tb.email email,
      tb.birthday birthday,
      tb.login_status loginStatus,
      tb.is_quit isQuit,
      tb.gender,
      CASE
        WHEN tb.gender = 0 THEN
        '女'
        WHEN tb.gender = 1 THEN
        '男'
        ELSE
        '保密'
      END genderName,
      tb.alone_role aloneRole
    FROM tab_user_info tb
    LEFT JOIN tab_dept_info td ON tb.dept_code = td.dept_code
    WHERE 1 = 1
  </sql>

  <!-- 用户信息 -->
  <resultMap id="UserInfoResultMap" type="com.exx.dzj.entity.user.UserVo">
    <collection property="roles" column="{userCode=userCode}" select="com.exx.dzj.mapper.user.UserInfoMapper.queryUserRoleList"></collection>
    <collection property="roleNames" column="{userCode=userCode}" select="com.exx.dzj.mapper.user.UserInfoMapper.queryRoleNames"></collection>
  </resultMap>

  <!-- 查询用户信息，包括用户角色 -->
  <select id="queryUserBean" parameterType="com.exx.dzj.entity.user.UserInfo" resultMap="UserInfoResultMap">
    <include refid="QueryUserInfoSQL"/>
    <if test="userCode != null and userCode!=''">
      AND tb.user_code = #{userCode}
    </if>
    <if test="userName != null and userName!=''">
      AND tb.user_name = #{userName}
    </if>
    <if test="passWord != null and passWord!=''">
      AND tb.pass_word = #{passWord}
    </if>
  </select>

  <select id="queryUserRoleList" resultType="java.lang.String">
    SELECT role_code FROM tab_user_role t WHERE 1 = 1 AND user_code = #{userCode}
  </select>

  <select id="queryRoleNames" resultType="java.lang.String">
    SELECT role_name FROM tab_role r
    INNER JOIN tab_user_role t WHERE r.role_code = t.role_code AND user_code = #{userCode}
  </select>

  <select id="selectionUserInfo" resultMap="selectionUserInfoMap">
    SELECT deptInfo.dept_name, userInfo.user_code, userInfo.user_name, userInfo.real_name, userInfo.dept_code
      FROM tab_user_info userInfo
	  INNER JOIN tab_dept_info deptInfo ON userInfo.dept_code = deptInfo.dept_code
      WHERE userInfo.is_quit=1
  </select>
  <resultMap id="selectionUserInfoMap" type="com.exx.dzj.entity.user.UserModel">
    <result property="deptCode" column="dept_code"/>
    <result property="userCode" column="user_code"/>
    <result property="userName" column="user_name"/>
    <result property="realName" column="real_name"/>
    <result property="deptName" column="dept_name"/>
  </resultMap>


  <select id="querySalesmanList" resultType="com.exx.dzj.entity.user.UserInfo">
    SELECT
      user_code userCode,
      CASE
        WHEN ui.is_quit = 0 THEN CONCAT('L',salesman_code)
        ELSE salesman_code
        END salesmanCode2,
      salesman_code salesmanCode,
      IFNULL(real_name, '') realName
    FROM
      tab_user_info ui
    WHERE 1 = 1
      /*ui.is_quit = 1*/
    AND ui.salesman_code in
    (
      SELECT
        salesman_code
      FROM
      <if test="type == 1">
        tab_sale_info
      </if>
      <if test="type == 2">
        tab_purchase_info
      </if>
      GROUP BY
        salesman_code
    )
  </select>

  <select id="querySalesmanDeptCode" resultType="string">
    SELECT dept_code FROM tab_user_info where user_code = #{userCode}
  </select>

  <select id="querySalesmanDeptCode2" resultType="string">
    SELECT dept_code FROM tab_user_info where salesman_code = #{salesmanCode}
  </select>

  <select id="querySalemanIdentityInfo" resultType="com.exx.dzj.entity.user.UserInfo">
    SELECT
        user_code AS userCode,
        real_name AS realName,
        salesman_code AS salesmanCode
    FROM tab_user_info uinfo
    WHERE uinfo.identity = #{identity}
    ORDER BY uinfo.salesman_code
  </select>
</mapper>