<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exx.dzj.mapper.user.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.exx.dzj.entity.user.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="salesman_code" jdbcType="VARCHAR" property="salesmanCode" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="is_quit" jdbcType="INTEGER" property="isQuit" />
    <result column="login_status" jdbcType="INTEGER" property="loginStatus" />
    <result column="last_signin_time" jdbcType="TIMESTAMP" property="lastSigninTime" />
    <result column="last_signout_time" jdbcType="TIMESTAMP" property="lastSignoutTime" />
  </resultMap>

  <resultMap id="UserBaseResultMap" type="com.exx.dzj.entity.user.UserVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="salesman_code" jdbcType="VARCHAR" property="salesmanCode" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="is_quit" jdbcType="INTEGER" property="isQuit" />
    <result column="login_status" jdbcType="INTEGER" property="loginStatus" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, user_code, user_name, pass_word, real_name, dept_code, salesman_code, head_img, 
    phone_num, email, is_quit, login_status, last_signin_time, last_signout_time
  </sql>

  <select id="selectByExample" parameterType="com.exx.dzj.entity.user.UserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="queryUserInfo" parameterType="com.exx.dzj.entity.user.UserInfo" resultMap="UserBaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tab_user_info
    where is_quit = 1
    <if test="userCode != null and userCode!=''">
      and user_code = #{userCode,jdbcType=VARCHAR}
    </if>
    <if test="userName != null and userName!=''">
      and user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="passWord != null and passWord!=''">
      and pass_word = #{passWord,jdbcType=VARCHAR}
    </if>
    LIMIT 1
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_user_info
    where user_code = #{userCode,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByExample" parameterType="com.exx.dzj.entity.user.UserInfoExample">
    delete from tab_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.exx.dzj.entity.user.UserInfo">
    insert into tab_user_info (user_code, user_name,
      pass_word, real_name, dept_code, 
      salesman_code, head_img, phone_num, 
      email, is_quit, login_status, 
      last_signin_time, last_signout_time)
    values (#{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
      #{passWord,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, 
      #{salesmanCode,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{isQuit,jdbcType=INTEGER}, #{loginStatus,jdbcType=INTEGER}, 
      #{lastSigninTime,jdbcType=TIMESTAMP}, #{lastSignoutTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.exx.dzj.entity.user.UserInfo">
    insert into tab_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        user_code,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="passWord != null">
        pass_word,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
      <if test="salesmanCode != null">
        salesman_code,
      </if>
      <if test="headImg != null">
        head_img,
      </if>
      <if test="phoneNum != null">
        phone_num,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="gender != null">
        gender,
      </if>
      create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="salesmanCode != null">
        #{salesmanCode,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      SYSDATE(),
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.exx.dzj.entity.user.UserInfoExample" resultType="java.lang.Long">
    select count(*) from tab_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update tab_user_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userCode != null">
        user_code = #{record.userCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.passWord != null">
        pass_word = #{record.passWord,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null">
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptCode != null">
        dept_code = #{record.deptCode,jdbcType=VARCHAR},
      </if>
      <if test="record.salesmanCode != null">
        salesman_code = #{record.salesmanCode,jdbcType=VARCHAR},
      </if>
      <if test="record.headImg != null">
        head_img = #{record.headImg,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNum != null">
        phone_num = #{record.phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.isQuit != null">
        is_quit = #{record.isQuit,jdbcType=INTEGER},
      </if>
      <if test="record.loginStatus != null">
        login_status = #{record.loginStatus,jdbcType=INTEGER},
      </if>
      <if test="record.lastSigninTime != null">
        last_signin_time = #{record.lastSigninTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastSignoutTime != null">
        last_signout_time = #{record.lastSignoutTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map">
    update tab_user_info
    set id = #{record.id,jdbcType=INTEGER},
      user_code = #{record.userCode,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      pass_word = #{record.passWord,jdbcType=VARCHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      dept_code = #{record.deptCode,jdbcType=VARCHAR},
      salesman_code = #{record.salesmanCode,jdbcType=VARCHAR},
      head_img = #{record.headImg,jdbcType=VARCHAR},
      phone_num = #{record.phoneNum,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      is_quit = #{record.isQuit,jdbcType=INTEGER},
      login_status = #{record.loginStatus,jdbcType=INTEGER},
      last_signin_time = #{record.lastSigninTime,jdbcType=TIMESTAMP},
      last_signout_time = #{record.lastSignoutTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.exx.dzj.entity.user.UserInfo">
    update tab_user_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="salesmanCode != null">
        salesman_code = #{salesmanCode,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="isQuit != null">
        is_quit = #{isQuit,jdbcType=INTEGER},
      </if>
    </set>
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="userCode != null">
        and user_code = #{userCode, jdbcType=VARCHAR}
      </if>
    </where>
  </update>

  <update id="updateByPrimaryKey" parameterType="com.exx.dzj.entity.user.UserInfo">
    update tab_user_info
    set user_code = #{userCode,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      dept_code = #{deptCode,jdbcType=VARCHAR},
      salesman_code = #{salesmanCode,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      is_quit = #{isQuit,jdbcType=INTEGER},
      login_status = #{loginStatus,jdbcType=INTEGER},
      last_signin_time = #{lastSigninTime,jdbcType=TIMESTAMP},
      last_signout_time = #{lastSignoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 查询 用户(业务员)数据 -->
  <select id="querySalesman" resultType="com.exx.dzj.entity.user.UserInfo">
    SELECT
        user_code userCode,
        salesman_code salesmanCode,
        concat(IFNULL(salesman_code,''), IFNULL(real_name,'')) realName
    FROM
        tab_user_info ui
    WHERE
        ui.is_quit = 1
  </select>

  <!-- 查询公司员工列表数据 -->
  <select id="queryUserList" resultType="com.exx.dzj.entity.user.UserModel">
    SELECT
        tu.user_code userCode,
        tu.user_name userName,
        tu.real_name realName,
        tu.salesman_code salesmanCode,
        tu.head_img headImg,
        tu.phone_num phoneNum,
        td.dept_name deptName,
        tu.email,
        CASE
    WHEN tu.gender = 0 THEN
        '女'
    WHEN tu.gender = 1 THEN
        '男'
    ELSE
        '未知'
    END genderName,
     tu.is_quit isQuit,
     CASE
    WHEN tu.is_quit = 1 THEN
        '在职'
    WHEN tu.is_quit = 0 THEN
        '离职'
    ELSE
        '未知'
    END quitDesc
    FROM
        tab_user_info tu
    LEFT JOIN tab_dept_info td ON tu.dept_code = td.dept_code
    WHERE 1 = 1
    <if test="userName != null and userName!=''">
      and tu.user_name like concat(#{userName}, '%')
    </if>
    <if test="realName != null and realName!=''">
      and tu.real_name like concat(#{realName}, '%')
    </if>
    <if test="salesmanCode != null and salesmanCode!=''">
      and tu.salesman_code = #{salesmanCode}
    </if>
  </select>

  <!-- 用户信息 -->
  <resultMap id="UserInfoResultMap" type="com.exx.dzj.entity.user.UserVo">
    <collection property="roles" column="{userCode=userCode}" select="com.exx.dzj.mapper.user.UserInfoMapper.queryUserRoleList"></collection>
  </resultMap>

  <!-- 查询用户信息，包括用户角色 -->
  <select id="queryUserBean" parameterType="com.exx.dzj.entity.user.UserInfo" resultMap="UserInfoResultMap">
    SELECT
      tb.user_code userCode,
      tb.user_name userName,
      tb.pass_word passWord,
      tb.real_name realName,
      tb.dept_code deptCode,
      td.dept_name deptName,
      tb.salesman_code salesmanCode,
      tb.head_img headImg,
      tb.phone_num phoneNum,
      tb.email email,
      tb.birthday birthday,
      tb.gender
    FROM tab_user_info tb
    LEFT JOIN tab_dept_info td ON tb.dept_code = td.dept_code
    WHERE 1 = 1
    <if test="userCode != null and userCode!=''">
      AND tb.user_code = #{userCode}
    </if>
  </select>

  <select id="queryUserRoleList" resultType="java.lang.String">
    SELECT role_code FROM tab_user_role t WHERE 1 = 1 AND user_code = #{userCode}
  </select>
</mapper>