<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exx.dzj.mapper.accountatt.AccountAttributeBeanMapper">
  <resultMap id="BaseResultMap" type="com.exx.dzj.entity.accountatt.AccountAttributeBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cust_code" jdbcType="VARCHAR" property="custCode" />
    <result column="payment_method" jdbcType="VARCHAR" property="paymentMethod" />
    <result column="discount_rate" jdbcType="DOUBLE" property="discountRate" />
    <result column="account_period" jdbcType="INTEGER" property="accountPeriod" />
    <result column="line_credit" jdbcType="DOUBLE" property="lineCredit" />
    <result column="pay_taxes_num" jdbcType="VARCHAR" property="payTaxesNum" />
    <result column="bill_type" jdbcType="VARCHAR" property="billType" />
    <result column="bank_deposit" jdbcType="VARCHAR" property="bankDeposit" />
    <result column="open_account" jdbcType="VARCHAR" property="openAccount" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, cust_code, payment_method, discount_rate, account_period, line_credit, pay_taxes_num, 
    bill_type, bank_deposit, open_account, is_enable, create_time, create_user, update_time, 
    update_user
  </sql>

  <select id="selectByExample" parameterType="com.exx.dzj.entity.accountatt.AccountAttributeBeanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_account_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_account_attribute
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_account_attribute
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByExample" parameterType="com.exx.dzj.entity.accountatt.AccountAttributeBeanExample">
    delete from tab_account_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.exx.dzj.entity.accountatt.AccountAttributeBean">
    insert into tab_account_attribute (id, cust_code, payment_method, 
      discount_rate, account_period, line_credit, 
      pay_taxes_num, bill_type, bank_deposit, 
      open_account, is_enable, create_time, 
      create_user, update_time, update_user
      )
    values (#{id,jdbcType=INTEGER}, #{custCode,jdbcType=VARCHAR}, #{paymentMethod,jdbcType=VARCHAR}, 
      #{discountRate,jdbcType=DOUBLE}, #{accountPeriod,jdbcType=INTEGER}, #{lineCredit,jdbcType=DOUBLE}, 
      #{payTaxesNum,jdbcType=VARCHAR}, #{billType,jdbcType=VARCHAR}, #{bankDeposit,jdbcType=VARCHAR}, 
      #{openAccount,jdbcType=VARCHAR}, #{isEnable,jdbcType=INTEGER}, SYSDATE(),
      #{createUser,jdbcType=VARCHAR}, SYSDATE(), #{updateUser,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.exx.dzj.entity.accountatt.AccountAttributeBean">
    insert into tab_account_attribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="custCode != null">
        cust_code,
      </if>
      <if test="paymentMethod != null">
        payment_method,
      </if>
      <if test="discountRate != null">
        discount_rate,
      </if>
      <if test="accountPeriod != null">
        account_period,
      </if>
      <if test="lineCredit != null">
        line_credit,
      </if>
      <if test="payTaxesNum != null">
        pay_taxes_num,
      </if>
      <if test="billType != null">
        bill_type,
      </if>
      <if test="bankDeposit != null">
        bank_deposit,
      </if>
      <if test="openAccount != null">
        open_account,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
        create_time,
      <if test="createUser != null">
        create_user,
      </if>
        update_time,
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="custCode != null">
        #{custCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="discountRate != null">
        #{discountRate,jdbcType=DOUBLE},
      </if>
      <if test="accountPeriod != null">
        #{accountPeriod,jdbcType=INTEGER},
      </if>
      <if test="lineCredit != null">
        #{lineCredit,jdbcType=DOUBLE},
      </if>
      <if test="payTaxesNum != null">
        #{payTaxesNum,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        #{billType,jdbcType=VARCHAR},
      </if>
      <if test="bankDeposit != null">
        #{bankDeposit,jdbcType=VARCHAR},
      </if>
      <if test="openAccount != null">
        #{openAccount,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=INTEGER},
      </if>
        SYSDATE(),
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
        SYSDATE(),
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.exx.dzj.entity.accountatt.AccountAttributeBeanExample" resultType="java.lang.Long">
    select count(*) from tab_account_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update tab_account_attribute
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.custCode != null">
        cust_code = #{record.custCode,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentMethod != null">
        payment_method = #{record.paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.discountRate != null">
        discount_rate = #{record.discountRate,jdbcType=DOUBLE},
      </if>
      <if test="record.accountPeriod != null">
        account_period = #{record.accountPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.lineCredit != null">
        line_credit = #{record.lineCredit,jdbcType=DOUBLE},
      </if>
      <if test="record.payTaxesNum != null">
        pay_taxes_num = #{record.payTaxesNum,jdbcType=VARCHAR},
      </if>
      <if test="record.billType != null">
        bill_type = #{record.billType,jdbcType=VARCHAR},
      </if>
      <if test="record.bankDeposit != null">
        bank_deposit = #{record.bankDeposit,jdbcType=VARCHAR},
      </if>
      <if test="record.openAccount != null">
        open_account = #{record.openAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.isEnable != null">
        is_enable = #{record.isEnable,jdbcType=INTEGER},
      </if>
        update_time = SYSDATE(),
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map">
    update tab_account_attribute
    set id = #{record.id,jdbcType=INTEGER},
      cust_code = #{record.custCode,jdbcType=VARCHAR},
      payment_method = #{record.paymentMethod,jdbcType=VARCHAR},
      discount_rate = #{record.discountRate,jdbcType=DOUBLE},
      account_period = #{record.accountPeriod,jdbcType=INTEGER},
      line_credit = #{record.lineCredit,jdbcType=DOUBLE},
      pay_taxes_num = #{record.payTaxesNum,jdbcType=VARCHAR},
      bill_type = #{record.billType,jdbcType=VARCHAR},
      bank_deposit = #{record.bankDeposit,jdbcType=VARCHAR},
      open_account = #{record.openAccount,jdbcType=VARCHAR},
      is_enable = #{record.isEnable,jdbcType=INTEGER},
      update_time = SYSDATE(),
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.exx.dzj.entity.accountatt.AccountAttributeBean">
    update tab_account_attribute
    <set>
      <if test="paymentMethod != null">
        payment_method = #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="discountRate != null">
        discount_rate = #{discountRate,jdbcType=DOUBLE},
      </if>
      <if test="accountPeriod != null">
        account_period = #{accountPeriod,jdbcType=INTEGER},
      </if>
      <if test="lineCredit != null">
        line_credit = #{lineCredit,jdbcType=DOUBLE},
      </if>
      <if test="payTaxesNum != null">
        pay_taxes_num = #{payTaxesNum,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        bill_type = #{billType,jdbcType=VARCHAR},
      </if>
      <if test="bankDeposit != null">
        bank_deposit = #{bankDeposit,jdbcType=VARCHAR},
      </if>
      <if test="openAccount != null">
        open_account = #{openAccount,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null">
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
        update_time = SYSDATE(),
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where cust_code = #{custCode,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.exx.dzj.entity.accountatt.AccountAttributeBean">
    update tab_account_attribute
    set cust_code = #{custCode,jdbcType=VARCHAR},
      payment_method = #{paymentMethod,jdbcType=VARCHAR},
      discount_rate = #{discountRate,jdbcType=DOUBLE},
      account_period = #{accountPeriod,jdbcType=INTEGER},
      line_credit = #{lineCredit,jdbcType=DOUBLE},
      pay_taxes_num = #{payTaxesNum,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=VARCHAR},
      bank_deposit = #{bankDeposit,jdbcType=VARCHAR},
      open_account = #{openAccount,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=INTEGER},
      update_time = SYSDATE(),
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>