<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exx.dzj.mapper.dept.DeptInfoBeanMapper">
  <resultMap id="BaseResultMap" type="com.exx.dzj.entity.dept.DeptInfoBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="dept_describe" jdbcType="VARCHAR" property="deptDescribe" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, dept_code, dept_name, parent_code, dept_describe, seq, is_enable, create_time, 
    create_user, update_time, update_user
  </sql>

  <select id="selectByExample" parameterType="com.exx.dzj.entity.dept.DeptInfoBeanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_dept_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_dept_info
    where dept_code = #{deptCode}
  </select>

  <insert id="insertSelective" parameterType="com.exx.dzj.entity.dept.DeptInfoBean">
    insert into tab_dept_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptCode != null and deptCode!=''">
        dept_code,
      </if>
      <if test="deptName != null and deptName!=''">
        dept_name,
      </if>
      <if test="parentCode != null and parentCode!=''">
        parent_code,
      </if>
      <if test="orgCode != null and orgCode!=''">
        orgCode,
      </if>
      <if test="deptDescribe != null and deptDescribe!=''">
        dept_describe,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null and createUser!=''">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null and updateUser!=''">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptCode != null and deptCode!=''">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null and deptName!=''">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null and parentCode!=''">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null and orgCode!=''">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="deptDescribe != null and deptDescribe!=''">
        #{deptDescribe,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null and createUser!=''">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null and updateUser!=''">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.exx.dzj.entity.dept.DeptInfoBeanExample" resultType="java.lang.Long">
    select count(*) from tab_dept_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update tab_dept_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deptCode != null">
        dept_code = #{record.deptCode,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        dept_name = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.parentCode != null">
        parent_code = #{record.parentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.deptDescribe != null">
        dept_describe = #{record.deptDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.seq != null">
        seq = #{record.seq,jdbcType=INTEGER},
      </if>
      <if test="record.isEnable != null">
        is_enable = #{record.isEnable,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.exx.dzj.entity.dept.DeptInfoBean">
    update tab_dept_info
    <set>
      <if test="deptName != null and deptName!=''">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null and parentCode!=''">
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="deptDescribe != null and deptDescribe!=''">
        dept_describe = #{deptDescribe,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=INTEGER},
      </if>
        update_time = SYSDATE(),
      <if test="updateUser != null and updateUser!=''">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_code = #{deptCode,jdbcType=VARCHAR}
  </update>

  <!-- 查询部门下拉框数据 -->
  <select id="queryDeptList" resultType="com.exx.dzj.entity.dept.DeptInfoBean">
    select td.dept_code deptCode, td.dept_name deptName, td.parent_code parentCode from tab_dept_info td where td.is_enable = 1
  </select>

  <!-- 查询 排序字段的最大值 -->
  <select id="queryMaxSeq" resultType="integer">
    SELECT MAX(seq) FROM tab_dept_info
  </select>

  <!-- 删除部门数据 -->
  <update id="delDept" parameterType="com.exx.dzj.entity.dept.DeptBean">
    UPDATE tab_dept_info SET is_enable = #{isEnable,jdbcType=INTEGER}
    WHERE dept_code
    <foreach collection="depts" item="code" open=" in (" close=")" separator=",">#{code}</foreach>
    OR parent_code
    <foreach collection="depts" item="code" open=" in (" close=")" separator=",">#{code}</foreach>
  </update>
</mapper>