<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exx.dzj.mapper.purchase.PurchaseReceiptsDetailsBeanMapper">
  <resultMap id="BaseResultMap" type="com.exx.dzj.entity.purchase.PurchaseReceiptsDetailsBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="purchase_code" jdbcType="VARCHAR" property="purchaseCode" />
    <result column="collection_account" jdbcType="VARCHAR" property="collectionAccount" />
    <result column="collected_amount" jdbcType="DECIMAL" property="collectedAmount" />
    <result column="payment_method" jdbcType="VARCHAR" property="paymentMethod" />
    <result column="ref_no" jdbcType="VARCHAR" property="refNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, purchase_code, collection_account, collected_amount, payment_method, ref_no, 
    create_time, create_user
  </sql>
  <select id="selectByExample" parameterType="com.exx.dzj.entity.purchase.PurchaseReceiptsDetailsBeanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_purchase_receipts_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_purchase_receipts_details
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_purchase_receipts_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.exx.dzj.entity.purchase.PurchaseReceiptsDetailsBeanExample">
    delete from tab_purchase_receipts_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.exx.dzj.entity.purchase.PurchaseReceiptsDetailsBean">
    insert into tab_purchase_receipts_details (id, purchase_code, collection_account, 
      collected_amount, payment_method, ref_no, 
      create_time, create_user)
    values (#{id,jdbcType=INTEGER}, #{purchaseCode,jdbcType=VARCHAR}, #{collectionAccount,jdbcType=VARCHAR}, 
      #{collectedAmount,jdbcType=DECIMAL}, #{paymentMethod,jdbcType=VARCHAR}, #{refNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.exx.dzj.entity.purchase.PurchaseReceiptsDetailsBean">
    insert into tab_purchase_receipts_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="purchaseCode != null">
        purchase_code,
      </if>
      <if test="collectionAccount != null">
        collection_account,
      </if>
      <if test="collectedAmount != null">
        collected_amount,
      </if>
      <if test="paymentMethod != null">
        payment_method,
      </if>
      <if test="refNo != null">
        ref_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="purchaseCode != null">
        #{purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="collectionAccount != null">
        #{collectionAccount,jdbcType=VARCHAR},
      </if>
      <if test="collectedAmount != null">
        #{collectedAmount,jdbcType=DECIMAL},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="refNo != null">
        #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.exx.dzj.entity.purchase.PurchaseReceiptsDetailsBeanExample" resultType="java.lang.Long">
    select count(*) from tab_purchase_receipts_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tab_purchase_receipts_details
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseCode != null">
        purchase_code = #{record.purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.collectionAccount != null">
        collection_account = #{record.collectionAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.collectedAmount != null">
        collected_amount = #{record.collectedAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.paymentMethod != null">
        payment_method = #{record.paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.refNo != null">
        ref_no = #{record.refNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tab_purchase_receipts_details
    set id = #{record.id,jdbcType=INTEGER},
      purchase_code = #{record.purchaseCode,jdbcType=VARCHAR},
      collection_account = #{record.collectionAccount,jdbcType=VARCHAR},
      collected_amount = #{record.collectedAmount,jdbcType=DECIMAL},
      payment_method = #{record.paymentMethod,jdbcType=VARCHAR},
      ref_no = #{record.refNo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.exx.dzj.entity.purchase.PurchaseReceiptsDetailsBean">
    update tab_purchase_receipts_details
    <set>
      <if test="purchaseCode != null">
        purchase_code = #{purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="collectionAccount != null">
        collection_account = #{collectionAccount,jdbcType=VARCHAR},
      </if>
      <if test="collectedAmount != null">
        collected_amount = #{collectedAmount,jdbcType=DECIMAL},
      </if>
      <if test="paymentMethod != null">
        payment_method = #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="refNo != null">
        ref_no = #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exx.dzj.entity.purchase.PurchaseReceiptsDetailsBean">
    update tab_purchase_receipts_details
    set purchase_code = #{purchaseCode,jdbcType=VARCHAR},
      collection_account = #{collectionAccount,jdbcType=VARCHAR},
      collected_amount = #{collectedAmount,jdbcType=DECIMAL},
      payment_method = #{paymentMethod,jdbcType=VARCHAR},
      ref_no = #{refNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 批量添加 -->
  <insert id="batchInsertPurchaseReceipts">
    INSERT INTO tab_purchase_receipts_details
      (purchase_code, collection_account,
      collected_amount, payment_method, ref_no,
      create_time, create_user)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.purchaseCode,jdbcType=VARCHAR}, #{item.collectionAccount,jdbcType=VARCHAR},
      #{item.collectedAmount,jdbcType=DECIMAL}, #{item.paymentMethod,jdbcType=VARCHAR}, #{item.refNo,jdbcType=VARCHAR},
      SYSDATE(), #{item.createUser,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <!-- 采购单关联收款单 -->
  <select id="queryPurchaseTicketRelevanceReceipts" parameterType="String" resultMap="relevanceReceiptsMap">
    SELECT
      PRDETAIL.id,
      PRDETAIL.purchase_code,
      PRDETAIL.collection_account,
      PRDETAIL.collected_amount,
      PRDETAIL.payment_method,
      PRDETAIL.ref_no,
      PRDETAIL.create_time,
      PRDETAIL.create_user
    FROM tab_purchase_receipts_details PRDETAIL
    WHERE PRDETAIL.purchase_code=#{purchaseCode}
  </select>
  <resultMap id="relevanceReceiptsMap" type="com.exx.dzj.entity.purchase.PurchaseReceiptsDetailsBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="purchase_code" jdbcType="VARCHAR" property="purchaseCode" />
    <result column="collection_account" jdbcType="VARCHAR" property="collectionAccount" />
    <result column="collected_amount" jdbcType="DECIMAL" property="collectedAmount" />
    <result column="payment_method" jdbcType="VARCHAR" property="paymentMethod" />
    <result column="ref_no" jdbcType="VARCHAR" property="refNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
  </resultMap>

  <!-- 批量修改 -->
  <update id="batchUpdatePurchaseReceiptsDetails">
    <foreach collection="list" item="record" separator=";">
      UPDATE tab_purchase_receipts_details
      <set>
        <if test="record.purchaseCode != null">
          purchase_code = #{record.purchaseCode,jdbcType=VARCHAR},
        </if>
        <if test="record.collectionAccount != null">
          collection_account = #{record.collectionAccount,jdbcType=VARCHAR},
        </if>
        <if test="record.collectedAmount != null">
          collected_amount = #{record.collectedAmount,jdbcType=DECIMAL},
        </if>
        <if test="record.paymentMethod != null">
          payment_method = #{record.paymentMethod,jdbcType=VARCHAR},
        </if>
        <if test="record.refNo != null">
          ref_no = #{record.refNo,jdbcType=VARCHAR},
        </if>
        <if test="record.createTime != null">
          create_time = #{record.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="record.createUser != null">
          create_user = #{record.createUser,jdbcType=VARCHAR},
        </if>
      </set>
      <where>
        id=#{record.id}
      </where>
    </foreach>
  </update>

  <!-- 批量删除 -->
  <delete id="batchDeletePurchaseReceipts">
    DELETE FROM tab_purchase_receipts_details
      WHERE id IN
      <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
        #{id}
      </foreach>
  </delete>
</mapper>